<div class = 'row-fluid page-caption-div' >
  <h1>Assessments</h1>
  <div class='span4'  style='border-right: thin solid blue'>
    <% if current_user.admin_access? %>
      <%= simple_form_for(current_grant) do |f| %>
        <%= f.input :assessments_include_score, as: :boolean, label: false, inline_label: 'Include score in assessments?' %>
        <%= f.input :assessments_include_pass, as: :boolean, label: false, inline_label: 'Include pass/fail in assessments?' %>
        <div class="form-actions">
          <%= submit_button(f,'Update') %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class='span5 offset1'>
    <div id='assessments'>
      <%= render @assessments %>
    </div>
    <%= link_to 'New Assessment', new_assessment_path, class: "btn btn-flat btn-primary",
                                  id: 'new_assessment_link', remote: true,
                                  rel:"tooltip", title:"Add Assessment" %>
  </div>
</div>
