<%= simple_form_for(klass_trainee, remote: true) do |f| %>
  <hr>

  <% caption = "Update status of  #{klass_trainee.name}"%>
  <%= f.hidden_field :klass_id %>

  <%= f.input :status, label: caption, collection: klass_trainee_statuses, include_blank: false %>

  <div id = 'hire_details' class = 'row-fluid' style='display: <%=klass_trainee.status == 4 ? "show" : "none"%>'>
    <p> Employer Name Search</p>
    <%= f.input_field :employer_name, style: 'margin-top:10px;width: 50px' %>
    <button type = "button" id="button-kt-getemployers" class="btn btn-flat btn-primary" style = 'margin: 0px'>
      <i class="icon-search icon-white"></i>Find
    </button>
    <br>
    <%= f.input :employer_id, collection: [klass_trainee.hired_employer],
                              label: 'Employer',
                              input_html: {style: 'width: 260px'} %>

    <%= f.input :ti_status, collection: trainee_interaction_statuses,
                            include_blank: false,
                            label: 'OJT Status' %>
    <%= f.input :start_date, as: :string,
                             input_html: { class: 'date',
                                           data: { behaviour: "datepicker" },
                                           value: klass_trainee.start_date.to_s } %>
    <%= f.input :completion_date,
                as: :string,
                input_html: { class: 'date',
                              data: { behaviour: "datepicker" },
                              value: klass_trainee.completion_date.to_s } %>
    <%= f.input :hire_title %>
    <%= f.input :hire_salary %>

    <%= f.input :comment, input_html: { style: 'height: 80px' } %>
  </div>

  <div class="form-actions">
    <%= ajax_cancel_and_submit_buttons(f) %>
  </div>
  <%= ajax_form_cancel_script(klass_trainee) %>

  <%=
    if js_asset_exists?("#{controller_name}/#{action_name}.js")
      javascript_include_tag "#{controller_name}/#{action_name}"
    end
  %>
<% end %>
