<h1>Add Trainees To a Class</h1>
<div class='rowfluid'>
  <div class='span4'>
    <h2>Trainees:</h2>
    <ol>
      <%= @trainees.map{|t| "<li>#{t.name}</li>"}.join('').html_safe %>
    </ol>
  </div>
  <div class='span5'>
    <%= simple_form_for(KlassTrainee.new) do |f| %>
      <%= f.hidden_field :trainee_ids, value: params[:trainee_ids] %>
      <%= f.input :klass_id, label: 'Class', collection: @klasses_collection,
                             input_html: {style: 'width: 500px'}, include_blank: false%>
      <div class="formactions">
        <%= submit_button(f) %>
      </div>
    <% end %>
  </div>
</div>