<div id = 'trainee_new_file_div'>
  <%= simple_form_for(trainee_file, html: { multipart: true },
                                    authenticity_token: true) do |f| %>
    <hr>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.hidden_field :trainee_id %>
      Select a File:
      <%= f.input :file, as: :file, label: false %>
      <%= f.input :notes %>
    </div>
  <% end %>
  <input id="cancel_new_trainee_file" class="btn btn-flat btn-danger" value="Cancel" type="button">
  <button class="btn btn-flat btn-small btn-primary" type="submit" id ='add_file'>
    <i class="icon-ok"></i> Add File
  </button>
</div>
