<h1>Class Event</h1>

<div class = 'row-fluid filters-div-compact'>
  <strong> Employer Search: </strong>
  <strong style='margin-left: 10px'>Sector</strong>
  <%= select_tag :sector_id, options_for_select(employer_sectors_for_selection), include_blank: true, style: 'margin-top: 10px' %>
  <strong style='margin-left: 10px'>County</strong>
  <%= select_tag :county_id, options_for_select(employer_counties_for_selection), include_blank: true, style: 'margin-top: 10px' %>
  <strong style = 'color: white; margin-left: 5px; margin-right: 5px'>| <strong style = 'color: darkblue'>OR</strong> |</strong>
  <strong>Name starting with</strong>
  <%= text_field_tag :name, nil, style: 'margin-top:10px; max-width: 75px;' %>

  <button type = "button" id="button-getemployers" class="btn btn-flat btn-primary" style = 'margin-left: 0px'>
    <i class="icon-search icon-white"></i> Find
  </button>
</div>
<div class = 'row-fluid' >
  <div class = 'span4' style = 'border-right: solid thin lightgrey; margin-left:0px'>

    <div class='row-fluid'>
      <div class = 'span10'>
        <p>Select Employers and Add them for interaction</p>
        <%= select_tag :select_employers, "", {multiple: true, style: 'width: 310px;height: 370px'} %>
      </div>
      <div class = 'span2'>
        <button type = 'button' id='add-selected-employers' class='btn btn-flat btn-small btn-primary' style='margin-top: 50px;margin-left: 5px'>
          <i class=" icon-chevron-right icon-white icon-2x"></i>
        </button>

        <button type = 'button' id='remove-selected-employers' class='btn btn-flat btn-small btn-danger' style='margin-left: 5px;margin-top:20px'>
          <i class="icon-chevron-left icon-red icon-2x"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="span4">
    <%= simple_form_for(klass_event) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <input type='hidden' name='klass_id' id='klass_id' value='<%=klass_event.klass.id%>'/>

          <div class = 'row-fluid'>
            <div class ='span9'>
              Employers added for interaction<br>
              <%= f.association :employers, label: false, collection: klass_event.employers, input_html: {multiple: true, style: 'width: 350px;height: 120px'} %>
            </div>
          </div>

          <div class = 'row-fluid'>
            <div id = 'new_klass_event' style='background-color: #ddd; padding: 10px'>
              <% event_name_collection = klass_default_events %>
              <% event_name_collection.push([klass_event.name,klass_event.name]) unless Klass::DEFAULT_EVENTS.include?(klass_event.name)%>
              <%= f.input :name, required: true, collection: event_name_collection, input_html: {class: 'combobox'} %>

              <% klass_event.event_date = klass_event.event_date.to_s %>
              <%= f.input :event_date, required: true, input_html: { data: {behaviour: "datepicker"}}, as: :string %>
              <%= f.input :notes %>
              From: <br>
                  <%=f.text_field :start_time_hr, style: 'width: 40px'%>
                  <%=f.text_field :start_time_min, style: 'width: 40px'%>
                  <%=f.select :start_ampm, options_for_ampm_select(klass_event.start_ampm),{}, {style: 'width: 80px'}%>
                  <!-- display error messages here -->
                  <% unless klass_event.errors.messages[:start_time_hr].blank? %>
                    <%= "<p style='color:red'>Start Time Hour: #{klass_event.errors.messages[:start_time_hr][0]}</p>".html_safe  %>
                  <% end %>
                  <% unless klass_event.errors.messages[:start_time_min].blank? %>
                    <%= "<p style='color:red'>Start Time Minutes: #{klass_event.errors.messages[:start_time_min][0]}</p>".html_safe %>
                  <% end %>
                  <br>
              To:<br>
                  <%=f.text_field :end_time_hr, style: 'width: 40px'%>
                  <%=f.text_field :end_time_min, style: 'width: 40px'%>
                  <%=f.select :end_ampm, options_for_ampm_select(klass_event.end_ampm),{}, {style: 'width: 80px'}%>
                  <% unless klass_event.errors.messages[:end_time_hr].blank? %>
                    <%= "<p style='color:red'>End Time Hour: #{klass_event.errors.messages[:end_time_hr][0]
                    }</p>".html_safe  %>
                  <% end %>
                  <% unless klass_event.errors.messages[:end_time_min].blank? %>
                    <%= "<p style='color:red'>End Time Minutes: #{klass_event.errors.messages[:end_time_min][0]}</p>".html_safe %>
                  <% end %>
            </div>
          </div>
          <div class="form-actions" style='padding-top: 5px;padding-bottom: 5px;margin-bottom: 0px;'>
            <%= button_tag(type: 'submit', class: "btn btn-flat btn-small btn-primary") do %>
              <i class="icon-ok"></i> Save
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
jQuery(function() {
    return $('#klass_interaction_klass_id').change(function(e) {
      klass_id = $('#klass_interaction_klass_id :selected').val();

      if (klass_id > 0){
        $.get("/klasses/" + klass_id + "/events", function(data) {
              populateEvents($("#klass_interaction_klass_event_id"), data);
          }, "json");

        e.preventDefault();
      }
      else{
        $("#klass_interaction_klass_event_id").html('');
      }
    });
});
</script>

<script type="text/javascript">
  function populateEvents(select, data) {
      select.html('');
      var name = ""
      $.each(data, function(id, option) {
          d = option.event_date.split('-')
          name = option.name + ' - ' + d[1] + '/' + d[2] + '/' + d[0];
          select.append($('<option></option>').val(option.id).html(name));
      });
    }
</script>

<script type="text/javascript">
$(function(){
    $('#klass_interaction_klass_id').trigger("change");
});
</script>

<% if employer %>

<script type="text/javascript">
  $(".simple_form").submit(function(e){
      return validateNewEvent();
  });
</script>

<% else %>

<script type="text/javascript">

  $(".simple_form").submit(function(e){

    $('#klass_event_employer_ids option').prop('selected', true);
    return validateNewEvent();

    if ($('#add_event').css("visibility") == "hidden" || $('#add_event').css('display') == "none") {
      // + button clicked and new event fields are visible
    }
    else
    {
      $('#klass_event_name').val("");
    }

  });

  $("#button-getemployers").click(function(e){

      var sector_id = $('#sector_id :selected').val();
      var county_id = $('#county_id :selected').val();
      var name = $('#name').val();

      if (sector_id == 0 & county_id == 0 & name == 0){
        alert("please select a sector or county");
        return false;
      }

      $.get("/employers/search", {filters: {county_id: county_id, sector_id: sector_id, name: name}}, function(data) {
            populateDropdown($("#select_employers"), data);
      }, "json");

      e.preventDefault();

  });


  function populateDropdown(select, data) {
      select.html('');
      $.each(data, function(id, option) {
          select.append($('<option></option>').val(option.id).html(option.name));
      });
  }

  $("#add-selected-employers").click(function(){
    var str = '';
    var e_option;
     $( "#select_employers option:selected" ).each(function() {
        e_option = $(this);
        if ($("#klass_event_employer_ids option[value="+e_option.val()+"]").length == 0){
          $("#klass_event_employer_ids").append($('<option></option>').val(e_option.val()).html(e_option.text()));
        }
        str += $( this ).text() + " ";
      });
     // alert(str);
  });

  $("#remove-selected-employers").click(function(){
     $("#klass_event_employer_ids option:selected").remove();
  });


</script>

<% end %>

<script type="text/javascript">
  $('#add_event').click(function(){
    $('#new_klass_event').show();
    $('#add_event').hide();
  });
  $('#cancel_event').click(function(){
    $('#new_klass_event').hide();
    $('#add_event').show();
  });

  function validateNewEvent(){
    name = $('#klass_event_name').val();
    if(name == "")
    {
      alert('enter event name');
      return false;
    }
    dt = $('#klass_event_event_date').val();
    if(dt == "")
    {
      alert('enter event date');
      return false;
    }
    klass_id = $('#klass_interaction_klass_id :selected').val();
    return true;
  }

</script>
<script type="text/javascript">
  $(document).ready(function(){
  $('[data-behaviour~=datepicker]').datepicker({"format": "mm/dd/yyyy", "weekStart": 1, "autoclose": true});
  })
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.combobox').combobox();
  });
</script>