<h1>Accounts</h1>

<table id="table_report" class="table table-bordered table-striped table-hover table_freeze_header">
  <thead>
    <tr>
      <th>Name</th>
      <th>Domain</th>
      <th>Description</th>
      <th>Type</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
<% @accounts.each do |account| %>
  <tr id = 'account_<%=account.id%>'>
    <td><%= link_to account.name, admin_account_path(account) %></td>
    <td><%= account.subdomain %></td>
    <td><%= account.description %></td>
    <td><%= account.type %></td>
    <td><%= account.status_text %></td>
    <td>
        <%= link_to admin_account_path(account),
                    class: "btn btn-flat btn-mini btn-info",
                    title:"Show"  do %>
          <i class="icon-eye-open"></i>
        <% end %>
        <%= link_to edit_admin_account_path(account),
                    id: "edit_account_#{account.id}_link",
                    class: "btn btn-flat btn-mini btn-warning",
                    title:"Edit"  do %>
          <i class="icon-edit"></i>
        <% end %>
        <% confirm_message = "Delete #{account.name}. Are you sure?".html_safe %>
        <%= link_to admin_account_path(account), method: :delete,
                                                 data: { confirm: confirm_message },
                                                 id: "destroy_account_#{account.id}_link",
                                                 class: "btn btn-flat btn-mini btn-danger",
                                                 remote: true, title:"Delete"  do %>
          <i class="icon-trash"></i>
        <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_admin_account_path %>
