<h1><%= @stats.header %></h1>
<h2>Users: <%= @stats.users_count %></h2>
<h2>Grants: <%= @stats.grants.count %></h2>

<div class="span6">
    <table id="table_grant_stats" class="table table-condensed table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Grant</th>
          <th>Programs</th>
          <th>Classes</th>
          <th>Trainees</th>
        </tr>
      </thead>
      <tbody>

      <% @stats.grants.each do |grant| %>
        <tr>
          <td><%= grant.name %></td>
          <td><%= grant.programs_count %></td>
          <td><%= grant.classes_count %></td>
          <td><%= grant.trainees_count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>
