<p><b>Company: </b><%=@job_share.company%></p>
<p><b>Location: </b><%=@job_share.location%></p>
<p><b>Comment: </b><%=@job_share.comment%></p>
<p><b>Title: </b><%=@job_title%></p>
<a href= "<%=@url_link%>">Click here to view and apply for the job</a>
