<div id='opt_out_div'>
  <%= render 'opt_out_in', job_search_profile: job_search_profile %>
</div>
<h2>
  Job Search Profile
  <span id='edit_link'>
    <% unless job_search_profile.opted_out %>
      <%= render 'edit_link', job_search_profile: job_search_profile %>
    <% end %>
  </span>
</h2>
<p>Skills: <%=job_search_profile.skills%></p>
<p>Location: <%=job_search_profile.location%></p>
<p>Distance: <%=job_search_profile.distance%> miles</p>
