<%= simple_form_for(applicant_source, remote: true) do |f| %>
	<%= f.error_notification %>
	<div class='form-inputs'>
		<%= f.input :source %>
	</div>
	<div class="form-actions">
		<%= ajax_cancel_and_submit_buttons(f) %>
	</div>
<% end %>
<script type="text/javascript">

  $('#new_applicant_source').submit(function() {
    if ($('#applicant_source_source').val() == ""){
      alert("Please enter an applicant source");
      return false;
    }
    if ($('#applicant_source_source').val().length < 3){
      alert("Source should be minimum 3 characters");
      return false;
    }

  });
</script>
<%= ajax_form_cancel_script(applicant_source) %>