<%= simple_form_for(applicant_source, remote: true) do |f| %>
	<%= f.error_notification %>
	<div class='form-inputs'>
		<%= f.input :source %>
	</div>
	<div class="form-actions">
		<%= ajax_cancel_and_submit_buttons(f) %>
	</div>
<% end %>
<%= ajax_form_cancel_script(applicant_source) %>
<%= javascript_include_tag "#{controller_name}/#{action_name}" if js_asset_exists?("#{controller_name}/#{action_name}.js") %>
