<div class = 'row-fluid'>
  <div class='span10 offset1'>
    <h2 style='margin-left: 20px; padding-top: 5px'>
      <%= current_grant.reapply_instructions %>
    </h2>
  <%= simple_form_for(@applicant_reapply) do |f| %>
    <% if @applicant_reapply.errors.any? %>
      <div class="alert alert-error"><%= @applicant_reapply.errors[:base][0] %></div>
    <% else %>
      <%= @message %>
    <% end %>
    <div class="form-inputs">
      <%= f.hidden_field :salt %>
      <div class='span3'>
        <%= f.input :email, required: true %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, 'Submit', class: 'btn btn-flat btn-primary' %>
    </div>
  <% end %>
  </div>
</div>
