<div class = 'row-fluid filters-div' >
  <div class = 'span4' style = 'min-height: 120px; border-right: 1px solid white'>
    <p style='color: blue; text-align:center;font-weight: bold'>Your Previous Searches</p>
      <ol>
        <% current_user.job_searches.limit(5).each do |job_search| %>
          <li><%= link_to job_search.to_label, job_search%></li>
        <% end %>
      </ol>
  </div>

  <div class = 'span8' style='margin-left: -10px'>
    <div class='row-fluid'>
      <%= simple_form_for(job_search, html: { class: 'form-search', style: 'margin-bottom: 0px' }) do |f| %>
        <p style='color: blue; text-align:center;font-weight: bold'>New Search</p>
        <div class = 'span6' >
          <label style='width:61px'>College</label> <%= f.input_field :college_id, collection: College.all, label: false, include_blank: true%><br>
          <label style='width:61px'>Location</label>
            <%= f.input_field :location, placeholder: "ex: Phoenix, AZ", label: false %>
          <br>
          <label style='width:61px'> Keywords </label>
            <%= f.input_field :keywords, placeholder: "ex: Sales Director", label: false %>
          <br>
          <%= f.input_field :in_state, label: 'In State Only' %>
          <label > In State Only </label>
        </div>
        <div class = 'span5'>
          <% job_search.distance ||= 10%>
          <label style='width:61px'> Distance </label>
          <%= f.input_field :distance, collection: JobSearch::JOBSEARCH_DISTANCE, label: false, include_blank: false,style: 'width: 130px'%> Miles
          <br>
          <% job_search.days ||= 7%>
          <label style='width:61px'> Age</label> <%= f.input_field :days, collection: JobSearch::JOBSEARCH_DAYS, label: false, include_blank: false,style: 'width: 130px'%>
          <br><br>

          <button type="submit" class="btn btn-flat btn-primary " data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> Searching...">
            <i class="icon-search icon-white"></i>&nbsp &nbsp Find
          </button>
        </div>
      <% end %>
    </div>
  </div>

</div>
<%= content_tag "div", id: "colleges", data: {locations: College.locations_hash } do %>
<% end %>
