<h1>Analysis of Job Search Results</h1>

<input type='hidden' name='job_search_id' value='<%=@job_search.id%>' id='job_search_id'/>

<div class = 'row-fluid' style='background-color: #eee; padding: 10px 5px 5px 5px;margin-right: 5px;margin-bottom: 5px'>
  <div class = 'span6 pull-left'>
    <strong>Search Criteria:</strong>
    <strong style='color: blue'><%= @job_search.search_criteria %></strong><br>
  </div>
  <div class = 'span6'>
    <strong style = color: blue>Total Jobs Found: <%= @analyzer.jobs_count %></strong>
    <a href="/job_searches/<%=@job_search.id%>" class='btn btn-small btn-flat btn-primary' style='margin-left:20px'>
      <i class="icon-list icon-white"></i>Search Results
    </a>
    <button type="button" id = 'btnCustomExport' class="btn btn-flat btn-small btn-primary" style='margin-left:20px' name='export'>
      <i class="icon-cloud-download icon-2x"></i>
    </button>
  </div>
</div>

<% if @analyzer.companies.any? %>
  <%= render 'filters_for_analyzed', analyzer: @analyzer, job_search_id: @job_search.id %>
<% end %>

<div id = 'dvData' style='border: thin solid grey;max-height: 500px; overflow: scroll; overflow-x: hidden'>

    <table class="table table-bordered table-striped table-hover table-condensed" id='companies-table'>

      <tr>
        <th></th>
        <th>Company (Job Search)</th>
        <th>County</th>
        <th>Job Count</th>
        <th>Job Titles</th>
        <th>Company Information</th>
        <th>Match Prob</th>
        <th>Action</th>
      </tr>

      <% num = 0%>
      <% @analyzer.companies.each do |company|%>
      <% num += 1%>
        <tr id="tr_<%=num%>" class='<%=company.row_class%>'>
          <td><%=num%></td>
          <td id = "company-<%=num%>"><%= company.poster_name_location%></td>
          <td><%= company.county %></td>
          <td><%= company.job_count %></td>
          <td>
            <% id = "titles_#{@job_search.id}_#{num-1}" %>
            <% title_num = 0 %>
            <ol id = '<%=id%>'>
              <% company.titles.each do |title_and_url|%>
                <li>
                    <% if company.poster_name.blank? || company.poster_location.blank? %>
                      <% company_and_title = "#{@job_search.id}::#{company.poster_name}::#{(company.poster_location||'').gsub(',','---')}::#{title_and_url[0]}::#{title_and_url[1]}" %>
                    <% else %>
                      <% company_and_title = "#{@job_search.id}::#{company.poster_name}::#{(company.poster_location||'').gsub(',','---')}::#{title_num}" %>
                    <% end %>
                    <% cb_id = "#{@job_search.id}:#{num-1}:#{title_num}" %>
                    <%# debugger %>
                    <% title = highlight(title_and_url[0],@job_search.keywords.split) %>
                    <%= check_box_tag(title_and_url[0], company_and_title, true, {id: cb_id, style: "margin: 0px;"}) %>
                  <%= title %>
                </li>
                <% title_num += 1%>
              <% end %>
            </ol>
            <% button_id = "sharejobs_#{@job_search.id}_#{num-1}" %>
            <button type="button" id = '<%= button_id %>' class="btn btn-flat btn-small btn-primary btn-share" style = 'margin-left: 150px' name='<%= button_id %>'>
              Share
            </button>
          </td>
          <td id = "google_<%=num%>">
            <% if !company.found %>
              <strong style='color: red'>NOT FOUND</strong>
            <% else %>
              <strong>
                <%= company.name %><br>
                <%= company.line1 %><br>
                <%= company.city_name %><br>
                <%= "#{company.state_code} #{company.zip}" %><br>
                <%= company.website %><br>
                <%= format_phone_no company.phone_no %><br>
              </strong>
            <% end %>
          </td>
          <td id = "google_match_prob_<%=num%>">
            <%= company.score %>
          </td>
          <td id = "action_<%=num%>">
            <% if company.employer %>
              <%= link_to company.employer, class: "btn btn-flat btn-mini btn-info", rel:"tooltip", title:"Show", target: "_blank"  do %>
                <i class="icon-eye-open"></i>
              <% end %>
            <% elsif company.found && policy(Employer).create? %>
              <span id = 'add-button-<%=num%>'>
                <% name_location = company.name_location_param %>
                <%= link_to "Add", add_google_company_employers_path(params: {name_location: name_location, info: company.info_for_add, add_company_id: "add-company-#{num}", action_cell_id: "action_#{num}"}), class: "add-company-link", id: "add-company-#{num}", remote: true%>
              </span>
            <% end %>
          </td>
    	</tr>
    <% end %>
    </table>
  </div>

<%= render('county_counts', county_counts: @analyzer.county_counts) %>
