<h1>Saved Employers From Job Search</h1>
<table id="table_employer" class="table table-condensed table-bordered table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>County</th>
    <th>Sectors</th>
    <th>Source</th>
    <th></th>
  </tr>

<% @employers.each do |employer| %>
  <tr>
    <td><%= employer.name %></td>
    <td><%= employer.formatted_address %></td>
    <td><%= employer.county %></td>
    <td>
      <ol>
        <% employer.sectors.each do |s| %>
          <li><%= s.name %></li>
        <% end %>
      </ol>
    </td>
    <td><%= employer.source %></td>
    <td>
        <%= show_button(employer) %>
        <%= edit_button(employer) %>
        <%= link_to employer_path(employer), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-flat btn-mini btn-danger" do %>
          <i class="icon-trash"></i>
        <% end %>
    </td>
  </tr>
<% end %>
</table>