<h1>Saved Employers From Google Places</h1>
    <a href="/job_searches/<%=@job_search_id%>" class='btn btn-small btn-flat btn-primary pull-right'>
            <i class="icon-list icon-white"></i>Search Results
    </a>

<% if @errors.any? %>
  <h4 style = 'color: brown'>Errors encountered:</h4>
  <ol>
  <% @errors.each do |error| %>
<%# debugger %>
      <li>
        <% company_name = error[1]["name"]%>
        <%= "Company:#{company_name} #{error[0]}" %>
          <div id="save_company_link_<%=company_name.gsub(' ','')%>">
            <%= link_to retrycompanysave_job_searches_path(company: error[1], sector_ids: @sector_ids), class: "btn btn-flat btn-mini btn-primary", remote: true do %>
                  <i class="icon-refresh white"> Retry</i>
            <% end %>
          </div>
      </li>
  <% end %>
  </ol>
  <br>
<% end %>

<table id="table_employer" class="table table-condensed table-bordered table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>County</th>
    <th>Phone</th>
    <th>Sectors</th>
    <th>Source</th>
    <th></th>
  </tr>

<% @employers.each do |employer| %>
  <tr>
    <td><%= link_to employer.name, employer %></td>
    <td><%= employer.formatted_address%></td>
    <td><%= employer.county%></td>
    <td><%= employer.phone_no%></td>
    <td>
      <ol>
        <% employer.sectors.each do |s| %>
          <li><%= s.name %></li>
        <% end %>
      </ol>
    </td>
    <td><%= employer.source %></td>
    <td>
<%# debugger %>
        <%= link_to employer_path(employer), class: "btn btn-flat btn-mini btn-info", rel:"tooltip", title:"Show"  do %>
          <i class="icon-eye-open"></i>
        <% end %>
        <%= link_to edit_employer_path(employer), class: "btn btn-flat btn-mini btn-warning", rel:"tooltip", title:"Edit"  do %>
          <i class="icon-edit"></i>
        <% end %>
        <%= link_to employer_path(employer), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-flat btn-mini btn-danger", rel:"tooltip", title:"Delete"  do %>
          <i class="icon-trash"></i>
        <% end %>
    </td>
  </tr>
<% end %>
</table>