<%= simple_form_for(klass_certificate, remote: true) do |f| %>

  <hr>
  <h4>Enter New certificate Information</h4>

  <%= f.error_notification %>

    <%= f.hidden_field :klass_id %>
    <%= f.input :name %>
    <%= f.input :description %>
    <div class="form-actions">
      <%= ajax_cancel_and_submit_buttons(f) %>
    </div>
<% end %>

<%= ajax_form_cancel_script(klass_certificate) %>
<%= javascript_include_tag "#{controller_name}/#{action_name}" if js_asset_exists?("#{controller_name}/#{action_name}.js") %>
