<%= simple_form_for(trainee_interaction, remote: true) do |f| %>
  <br>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.hidden_field :employer_id %>
    <%= f.input :klass_id, collection: current_user.klasses, include_blank: false, label: 'Class'%>
    <%= f.input :trainee_ids, required: true, collection: [], label: "Trainees", input_html:{multiple: true}%>
    <%= f.input :comment, input_html:{style: 'height: 100px'} %>
  </div>

  <div class="form-actions">
    <%= ajax_cancel_and_submit_buttons(f) %>
  </div>
  <%= ajax_form_cancel_script(trainee_interaction) %>

  <script type="text/javascript">
    var tolist;
    tolist = $('#trainee_interaction_trainee_ids').html();
    $("form.new_trainee_interaction").submit(function(e){
      console.log('form.new_trainee_interaction.submit');
      toid = $('#trainee_interaction_trainee_ids :selected').text();
      if (toid == ""){
        alert("Please select trainees");
        return false;
      }
    });

    $('#trainee_interaction_klass_id').change(function() {
        $.get("/trainee_interactions/traineelist", { klass_id: $(this).val(),  employer_id: $("#trainee_interaction_employer_id").val()}, function(data) {
              populateDropdown($("#trainee_interaction_trainee_ids"), data);
        }, "json");
    });
  </script>
<% end %>
