<p>Employer: <b><%= link_to trainee_interaction.employer_name, trainee_interaction.employer%></b></p>
<p>Trainee: <b><%= link_to trainee_interaction.trainee_name,trainee_interaction.trainee %></b></p>
<p>Status: <b><%= trainee_interaction.status_name %></b></p>
<p>OJT Status: <b><%= trainee_interaction.ojt_status %></b></p>
<p>Uses trained skills: <b><%= trainee_interaction.uses_trained_skills %></b></p>
<p>Start Date: <%= trainee_interaction.start_date.to_s %></p>
<p>Completion Date: <%= trainee_interaction.completion_date.to_s %></p>
<p>Hire Title: <%= trainee_interaction.hire_title %></p>
<p>Hire Salary: <%=trainee_interaction.hire_salary%>
<p>Employment Termination Date: <%= trainee_interaction.termination_date.to_s %></p>
<p>Comments: <%= trainee_interaction.comment %></p>
