<div id = <%= div_id_for(trainee_interaction) %>>
  <%= link_to(trainee_interaction_path(trainee_interaction),
              class: 'btn btn-flat btn-mini btn-info',
              id: "show_trainee_interaction_link#{trainee_interaction.id}",
              remote: true,
              data: { toggle: 'modal', target: "#modal_ti_details" }) do%>
      <i class="icon-eye-open white"></i>
  <% end %>

  <% if page == 'trainee_page' %>
    <%= button_edit_association(trainee_interaction, page: page) %>
    <%= button_destroy_association(trainee_interaction, page: page) %>
    <%= employer_link_or_name(trainee_interaction.employer) %>
  <% else %>
    <%= link_to(trainee_interaction.trainee.name, trainee_interaction.trainee) %>
  <% end %>
  <br>
  <%= trainee_interaction.status_name %><br>
  <%= trainee_interaction.short_comment %>
</div>
