<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Mobile phone no</th>
      <th>Employment Status</th>
      <th>Education</th>
      <th>Source</th>
      <th>Status</th>
      <th>Funding Source</th>
      <th>Date Received</th>
      <th>Notes/Comments</th>
    </tr>
  </thead>
  <tbody>
    <% applicants.each do |applicant| %>
      <tr>
        <td><%= name_and_link applicant %></td>
        <td><%= applicant.address %></td>
        <td><%= applicant.email %></td>
        <td><%= applicant.mobile_phone_no %></td>
        <td><%= applicant.current_employment_status %></td>
        <td><%= applicant.education %></td>
        <td><%= applicant.source %></td>
        <td><%= applicant.status %></td>
        <td><%= applicant.funding_source_name %></td>
        <td><%= applicant.created_at.to_date.to_s%></td>
        <td><%= applicant.comments %></td>
      </tr>
    <% end %>
  </tbody>
</table>