<table border="1">
  <tr>
    <th>Name</th>
    <th>TAPO ID(Trainee)</th>
    <th>Applied On</th>
    <th>Email</th>
    <th>Phone No</th>
    <th>County</th>
    <th>Source</th>
    <th>Sector</th>
    <th>Employment Status</th>
    <th>Status</th>
    <th>DOB</th>
    <th>EDP Date</th>
    <th>Assessed?</th>
    <th>Assigned to class?</th>
    <th>Unemployment Proof</th>
  </tr>
  <% @applicants.each do |applicant| %>
    <tr>
      <td><%= applicant.name %></td>
      <td><%= applicant.trainee.try(:id)%></td>
      <td><%= applicant.created_at.to_date %></td>
      <td><%= applicant.email %></td>
      <td><%= applicant.mobile_phone_number %></td>
      <td><%= applicant.county_name %></td>
      <td><%= applicant.source_name %></td>
      <td><%= applicant.sector_name %></td>
      <td><%= applicant.current_employment_status %></td>
      <td><%= applicant.status %></td>
      <td><%= applicant.trainee_dob %></td>
      <td><%= applicant.trainee_edp_date %></td>
      <td><%= applicant.trainee_assessed? %></td>
      <td><%= applicant.trainee_assigned_to_klass?%></td>
      <td><%= applicant.unemployment_proof_supplied %></td>
    </tr>
  <% end %>
</table>
