<h1>Applicants</h1>

<div class = 'row-fluid' >
  <div class='span3 filters-div' style="height: 500px">
    <%= render 'search_form' %>
  </div>
  <div class='span9'>
    <% if @applicants.any? %>
      <div class = 'row' style='margin-top: 30px'>
        <div class = 'span2'>
            <h4><%= "Count: #{@applicants.total_entries}" %></h4>
        </div>
        <div class='span9'>
            <div align="center"><%= will_paginate(@applicants) %></div>
        </div>
        <div class = 'span1' style = 'padding-top: 5px'>
          <% max_rows = (ENV['MAX_ROWS_FOR_DOWNLOAD'] || 6).to_i %>
          <% if @applicants.total_entries > max_rows %>
            <%= email_download_button(filters: @filter_info) %>
          <% else %>
            <%= download_button %>
          <% end %>
        </div>
      </div>
    <% end %>

    <table class="table table-bordered table-striped table-hover table-condensed">
      <tr>
        <th>Name</th>
        <th>TAPO ID(Trainee)</th>
        <th>Applied On</th>
        <th>Placement Status</th>
        <th>Email</th>
        <th>Phone No</th>
        <th>County</th>
        <th>Navigator</th>
        <th>Funding Source</th>
        <th>Source</th>
        <th>Sector</th>
        <th>Employment Status</th>
        <th>Status</th>
        <th>DOB</th>
        <th>EDP Date</th>
        <th>Assessed?</th>
        <th>Assigned to class?</th>
        <th>Unemployment Proof</th>
      </tr>
      <% @applicants.each do |applicant| %>
        <tr>
          <td><%= name_and_link applicant %></td>
          <td><%= applicant.trainee_tapo_id%></td>
          <td><%= applicant.created_at.to_date %></td>
          <td><%= applicant.placement_status %></td>
          <td><%= applicant.email %></td>
          <td><%= applicant.mobile_phone_number %></td>
          <td><%= applicant.county_name %></td>
          <td><%= applicant.navigator_name %></td>
          <td><%= applicant.funding_source_name %></td>
          <td><%= applicant.source_name %></td>
          <td><%= applicant.sector_name %></td>
          <td><%= applicant.current_employment_status %></td>
          <td><%= applicant.status %></td>
          <td><%= applicant.trainee_dob %></td>
          <td><%= applicant.trainee_edp_date %></td>
          <td><%= applicant.trainee_assessed? %></td>
          <td><%= applicant.trainee_assigned_to_klass?%></td>
          <td><%= applicant.unemployment_proof_supplied %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
