<div class = 'row-fluid page-caption-div'>
  <h1>Program Summary</h1>
</div>

<% unless request.format.xls? %>
  <div class='row-fluid'>
    <div class='span11'>
      <span class='pull-right'>
        <% filter_btn_class = 'klass_filter btn btn-flat btn-small btn-primary' %>
        <button type = 'button' id = '1_scheduled_klasses_button' class = '<%=filter_btn_class%>'>Scheduled</button>
        <button type = 'button' id = '2_ongoing_klasses_button'   class = '<%=filter_btn_class%>'>Ongoing</button>
        <button type = 'button' id = '3_completed_klasses_button' class = '<%=filter_btn_class%>'>Completed</button>
        <button type = 'button' id = '0_all_klasses_button'       class = '<%=filter_btn_class%>'>All</button>
      </span>
    </div>
    <div class='span1'>
      <%= download_button if Klass.any? %>
    </div>
  </div>
<% end %>

<div id = 'all_programs'>
  <% @data.programs.each do |program| %>
    <h2><%=program.name%></h2>

    <% if request.format.xls? %>
      <table border="1">
    <% else %>
      <table class="table table-condensed table-bordered table-striped table-hover header-fixed">
    <% end %>
      <thead>
      <tr class='info'>
        <th>College</th>
        <th>Class</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Enrolled</th>
        <th>Dropped</th>
        <th>Completed</th>
        <th>Continuing Education</th>
        <th>Not Placed</th>
        <th>Placed</th>
        <th>Placement Rate</th>
      </tr>
      </thead>
      <% program.classes_by_status.each do |klass_state, klasses| %>
        <% klasses.each do |klass| %>
          <% klass_counts = @data.klass_counts(klass.id) %>
          <tr class = '<%= klass_state%>'>
            <td><%= klass.college_name %></td>
            <td><%= request.format.xls? ? klass.name : link_to(klass.name, klass) %></td>
            <td><%= klass.start_date%></td>
            <td><%= klass.end_date%></td>
            <td><%= klass_counts[:enrolled] %></td>
            <td><%= klass_counts[:dropped] %></td>
            <td><%= klass_counts[:completed] %></td>
            <td><%= klass_counts[:continuing_education] %></td>
            <td><%= klass_counts[:not_placed] %></td>
            <td><%= klass_counts[:placed] %></td>
            <td><%= klass_counts[:placement_rate] %></td>
          </tr>
        <% end %>

        <% program_counts = @data.program_counts(program, klass_state) %>

        <tr class = '<%= klass_state%> info'>
          <td><b>Totals for <%= klass_state.humanize.titleize%></b></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= program_counts[:enrolled] %></td>
          <td><%= program_counts[:dropped] %></td>
          <td><%= program_counts[:completed] %></td>
          <td><%= program_counts[:continuing_education] %></td>
          <td><%= program_counts[:not_placed] %></td>
          <td><%= program_counts[:placed] %></td>
          <td><%= program_counts[:placement_rate] %></td>
        </tr>
      <% end %>
    </table>
    <hr>
  <% end %>
</div>
