<div class = 'row-fluid page-caption-div'>
  <h1>Program Summary</h1>
</div>

<% unless request.format.xls? %>
  <div class='row-fluid'>
      <div class='span11'>
        <span class='pull-right'>
          <% filter_btn_class = 'klass_filter btn btn-flat btn-small btn-primary' %>
          <button type = 'button' id = '1_scheduled_klasses_button' class = '<%=filter_btn_class%>'>Scheduled</button>
          <button type = 'button' id = '2_ongoing_klasses_button'   class = '<%=filter_btn_class%>'>Ongoing</button>
          <button type = 'button' id = '3_completed_klasses_button' class = '<%=filter_btn_class%>'>Completed</button>
          <button type = 'button' id = '0_all_klasses_button'       class = '<%=filter_btn_class%>'>All</button>
        </span>
      </div>
      <div class='span1'>
          <%= download_button if Klass.any? %>
      </div>
  </div>
<% end %>

<div id = 'all_programs'>
  <% @programs.each do |program| %>
    <h2><%=program.name%></h2>

    <% if request.format.xls? %>
      <table border="1">
    <% else %>
      <table class="table table-condensed table-bordered table-striped table-hover">
    <% end %>

      <tr class='info'>
        <th>Class</th>
        <th>College</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Enrolled</th>
        <th>Dropped</th>
        <th>Completed</th>
        <th>Continuing</th>
        <th>Not Placed</th>
        <th>Placed</th>
        <th>Placement Rate</th>
      </tr>
      <% program.classes_by_status.each do |klass_state, klasses| %>
        <% klasses.each do |klass| %>
          <tr class = '<%= klass_state%>'>
            <td><%= klass.college_name %></td>
            <td><%= request.format.xls? ? klass.name : link_to(klass.name, klass) %></td>
            <td><%= klass.start_date%></td>
            <td><%= klass.end_date%></td>
            <td><%= klass.enrolled_count%></td>
            <td><%= klass.dropped_count%></td>
            <td><%= klass.completed_count %></td>
            <td><%= klass.continuing_education_count%></td>
            <td><%= klass.not_placed_count%></td>
            <td><%= klass.placed_count %></td>
            <td><%= klass.placement_rate%></td>
          </tr>
        <% end %>
        <tr class = '<%= klass_state%> info'>
          <td><b>Totals for <%= klass_state.humanize.titleize%></b></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= program.enrolled_count(klass_state)%></td>
          <td><%= program.dropped_count(klass_state)%></td>
          <td><%= program.completed_count(klass_state) %></td>
          <td><%= program.continuing_education_count(klass_state)%></td>
          <td><%= program.not_placed_count(klass_state)%></td>
          <td><%= program.placed_count(klass_state) %></td>
          <td><%= program.placement_rate(klass_state)%></td>
        </tr>
      <% end %>
    </table>
    <hr>
  <% end %>
</div>
