<div class="row-fluid" >
  <div class="opero-widget-box">
    <div class="opero-widget-header">
      <h1><%="#{user.new_record? ? 'New' : 'Edit'} User"%></h1>
    </div>
    <%= simple_form_for(user, html: { class: "form-horizontal"}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first %>
        <%= f.input :last %>
        <%= f.input :location %>

        <% roles = current_user.director? ? { "Admin" => 2 } : {}  %>
        <% roles = roles.merge({ "Navigator" => 3, "Instructor" => 4 }) %>

        <% if current_user != user %>
          <%= f.input :role, collection: roles, include_blank: false%>
        <% end %>

        <% display = user.navigator? ? 'show' : 'none' %>
        <div id='navigator_is_admin' style='display: <%=display%>'>
          <%= f.input :acts_as_admin, as: :boolean, label: false, inline_label: true %>
        </div>

        <% if current_user != user %>
          <%= f.input :status, collection: user_statuses, include_blank: false%>
        <% end %>

        <%= f.input :land_no, label: 'Phone Number(w)'%>
        <%= f.input :ext, label: 'Extension' %>
        <%= f.input :mobile_no, label: 'Mobile Number'%>
        <%= f.input :email %>
        <% if current_user == user || user.new_record?%>
          <%= f.input :password, required: true %>
        <% end %>
        <%= f.input :comments %>
        <% display = user.navigator? ? 'show' : 'none' %>
        <div id='navigator_options' style='display: <%=display%>'>
          <%= f.association :counties, label: 'Assign to Counties',
                                       collection: current_account.state.counties %>
          <%= f.association :grants, label: 'Assign to grants',
                                     collection: current_account.active_grants %>
        </div>

      </div>
      <div class="form-actions">
        <%= render 'shared/cancel_link' %>
        <%= f.button :submit, class: 'btn btn-flat btn-primary' do %>
          <i class="icon-ok icon-ok"></i>Save
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= content_tag "div", id: "page_data", data: { role: user.role.to_i } do %>
<% end %>
