<h1>User Information</h1>
<div class='row-fluid'>
  <div class='span5'>
    <div class = 'row-fluid'>
      <p><b>Name:       </b><%= @user.name %></p>
      <p><b>email:      </b><%= @user.email %></p>
      <p><b>Land No:    </b><%= @user.land_no %></p>
      <p><b>Mobile No:  </b><%= @user.mobile_no %></p>
      <p><b>Location:   </b><%= @user.location %></p>
      <p><b>Status:     </b><%= @user.status %></p>
    </div>
    <div class = 'row-fluid' id = 'empoyer_sources'>
      <h4>
        Employer Sources
        <% unless @user.admin_access? %>
          <%= button_new_association(UserEmployerSource, user_id:  @user.id, title: 'Add Source') %>
        <% end %>
      </h4>
      <div id='<%=div_id_for_collection(UserEmployerSource)%>'>
        <%= render @user.user_employer_sources %>
      </div>
    </div>
  </div>
  <div class='span5'>
    <table class="table table-bordered table-striped table-hover table-condensed">
      <tr>
        <td>Role</td>
        <td>
          <%= @user.role_description %>
        </td>
      </tr>
      <% if @user.navigator? %>
        <tr>
          <td>Assigned Grants</td>
          <td>
            <ol>
              <%= @user.grants.map{|g| "<li>#{g.name}</li>"}.join.html_safe %>
            </ol>
          </td>
        </tr>        <tr>
          <td>Assigned Counties</td>
          <td>
            <ol>
              <% @user.counties.each do |county| %>
                <li><%= county.name %></li>
              <% end %>
            </ol>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>Assigned Classes</td>
        <td>
          <ol>
          <% @user.assigned_klasses.each do |klass| %>
            <li><%= link_to klass.to_label, klass%></li>
          <% end %>
          </ol>
        </td>
      </tr>
    </table>
  </div>
</div>