<div class = 'row-fluid page-caption-div' >
  <h1>Import Employers</h1>
</div>
<div class = 'row-fluid'>
  <div class = 'span4'>
    <%= form_tag import_statuses_path(resource: 'employers'), id: 'form-import', multipart: true do %>
      <p><strong>Find A File To Upload:</strong></p>
        <%= file_field_tag :file %>
        <br><br>
      <p><strong>Select Sectors:</strong></p>
      <%= select_tag "sector_ids[]", options_for_select(Sector.selection_list), {multiple: :multiple, size: 10} %>
      <div class='form-actions'>
        <%= import_button %>
      </div>
    <% end %>
  </div>
  <div class = 'span8'>
    <b style='color: blue'><%= link_to "Click here to download the file template", "/documents/employers_import_template.xlsx"%></b>

    <h4>Guide Lines</h4>
    <ol>
      <li>Download and open the excel file from the link above</li>
      <li>Take a look at the header that describes the required column names</li>
      <li>Order of the columns is not important</li>
      <li>Each row of the data should be for one unique company</li>
      <li>All the contacts should be in the same row of the company</li>
      <li>The template includes headers for 2 contacts. You can extend it for as many as you need</li>
      <li>
        <b>Address: </b>if city or state is missing/blank, the entire address will be ignored for that specific employer record.
      </li>
      <li>
        <b>Source: </b>If Source is blank, it will be defined as <b> "not available"</b>
      </li>
      <li>After loading data into the file, save the file in excel format and import</li>
      <li><b>Important:</b> Delete the 2 example companies from the file before import</li>
    </ol>

  </div>
</div>

<script type="text/javascript">
  var selected = new Array();
  $('#form-import').submit(function() {
    var count = $('#sector_ids_ option:selected').length;
    if (count == 0){
      alert("Please select at least one sector");
      return false;
    }
    if ($('#file').val() == ""){
      alert("Please select a file");
      return false;
    }
      $('#submit-button').button('loading');
  });
</script>

<script type="text/javascript">
  $('.btn-spinner').button();
</script>
