<%= simple_form_for(grant_trainee_status,remote: true) do |f| %>
	<%= f.error_notification %>
	<div class='form-inputs'>
		<%= f.input :name, input_html: {style: 'width: 400px'} %>
    <div style='color: red'>
      <span id='error_text'></span>
    </div>
	</div>
	<div class="form-actions">
		<%= ajax_cancel_and_submit_buttons(f) %>
	</div>
<% end %>
<%= ajax_form_cancel_script(grant_trainee_status) %>