<div id = '<%=div_id_for(mentor)%>'>
  <p>
    Name: <%= mentor.name %>
    <%= button_edit_association(mentor, title: 'Edit mentor') %>
  </p>
    Email: <%= mentor.email %>
  <p>
  </p>
  <p>
    Phone: <%= mentor.phone %>
  </p>
</div>
