<h1>Placements</h1>
<table class="table table-bordered table-striped table-hover table-condensed">
  <tr>
    <th>Company</th>
    <th>Address</th>
    <th>Phone Number</th>
    <th>Start Date</th>
    <th>Title</th>
    <th>Salary</th>
  </tr>
  <% @trainee_placements.each do |tp| %>
  <tr>
    <th><%= tp.company_name %></th>
    <th><%= tp.address %></th>
    <th><%= tp.phone_number %></th>
    <th><%= tp.start_date %></th>
    <th><%= tp.job_title %></th>
    <th><%= tp.salary %></th>
  </tr>
  <% end %>
</table>

