<%= simple_form_for(funding_source, remote: true) do |f| %>
  <%= f.error_notification %>
  <div class='form-inputs'>
    <%= f.input :name %>
    <div style='color: red'>
      <span id='error_text'></span>
    </div>
  </div>
  <div class="form-actions">
    <%= ajax_cancel_and_submit_buttons(f) %>
  </div>
<% end %>

<%= ajax_form_cancel_script(funding_source) %>