<%= simple_form_for(employer, html: { class: "form-horizontal", style: "margin-bottom: 0px", id: 'form_employer' }, remote: true) do |f| %>
  <%= f.error_notification %>
  <ul class="errors" style='color: red'></ul>
  <div class="form-inputs">
    <div class = 'row'>
      <div class = 'span5'>
        <%= f.input :name %>
        <%= f.input :phone_no %>
        <%= f.association :sectors, selected: employer.sector_ids, required: true, input_html: { multiple: true } %>
      </div>
      <div class = 'span5'>
        <%= f.fields_for :address do |address_fields| %>
          <%= render 'shared/address_fields', address_fields: address_fields, required: false %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-actions" style='padding-top: 5px;padding-bottom: 5px;margin-bottom: 0px;'>
    <%= link_to "Cancel", "#", class: "btn btn-flat btn-small btn-danger", data: {dismiss: "modal"} %>
    <%= button_tag(type: 'submit', class: "btn btn-flat btn-small btn-primary") do %>
      <i class="icon-ok"></i> Save
    <% end %>
  </div>
<% end %>
<%= javascript_include_tag "#{controller_name}/#{action_name}" if js_asset_exists?("#{controller_name}/#{action_name}.js") %>
