<%= simple_form_for(employer, html: { class: "form-horizontal", style: "margin-bottom: 0px", id: 'form_employer' }, remote: true) do |f| %>
  <%= f.error_notification %>
  <ul class="errors" style='color: red'></ul>
  <div class="form-inputs">
    <div class = 'row'>
      <div class = 'span5'>
        <%= f.input :name %>
        <%= f.input :phone_no %>
        <%= f.input :source %>
        <%= f.association :sectors, selected: employer.sector_ids, required: true, input_html: { multiple: true } %>
      </div>
      <div class = 'span5'>
        <%= f.fields_for :address do |address_fields| %>
          <%= render 'shared/address_fields', address_fields: address_fields, required: false %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-actions" style='padding-top: 5px;padding-bottom: 5px;margin-bottom: 0px;'>
    <%= link_to "Cancel", "#", class: "btn btn-flat btn-small btn-danger", data: {dismiss: "modal"} %>
    <%= button_tag(type: 'submit', class: "btn btn-flat btn-small btn-primary") do %>
      <i class="icon-ok"></i> Save
    <% end %>
  </div>
<% end %>
<script type="text/javascript">
  var selected = new Array();
  $('#form_employer').submit(function() {

    name = $('#employer_name').val();
    if (name.length < 3)
    {
      alert('name should be minimum 3 characters');
      return false;
    }

    source = $('#employer_source').val();
    if (source.length < 3)
    {
      alert('source should be minimum 3 characters');
      return false;
    }

    var count = $('#employer_sector_ids option:selected').length;
    if (count == 0){
      alert("Please select at least one sector");
      return false;
    }
    var line1 =  $('#employer_address_attributes_line1').val();
    var city  =  $('#employer_address_attributes_city').val();
    var state =  $('#employer_address_attributes_state').val();
    var zip   =  $('#employer_address_attributes_zip').val();
    if (line1.length > 0 || city.length > 0 || state.length > 0 || zip.length > 0){
      if (city.length == 0){
        alert("Please enter city");
        return false;
      }
      if (state.length == 0){
        alert("Please select state");
        return false;
      }
    }
  });
</script>
