<h4>
  <%= employer.name %>
  <%= edit_button(employer) %>
  <%= employer.website_link %>
</h4>

<p><b>Source:</b> <%= employer.employer_source_name %></p>
<p><%= employer.created_date %></p>

<%= employer.address_details %>
<%= employer.phone_no %>
<hr>

<%= employer.contacts_header %>

<div id='contacts'%>
  <%= render employer.contacts %>
</div>
<hr>

<h4>
  Sectors
  <%= button_new_association(EmployerSector, employer_id:  employer.id, title: 'Add Sector') %>
</h4>
<div id='<%=div_id_for_collection(EmployerSector)%>'>
  <%= render employer.sectors %>
</div>
<hr>

<%= employer.files_header %>
<div id = '<%=div_id_for_collection(EmployerFile)%>'>
  <%= render employer.employer_files %>
</div>

