<h1><%= "Employers - Locations" %></h1>
<div class = 'row-fluid filters-div' >

  <%= simple_form_for :filters, method: :get, url: [:mapview, :employers], html: {class: 'form-search' } do |f| %>

    <div class='span3'>
      Counties<br>
      <%= f.input_field :county_ids, label: 'County',
                                     collection: employer_counties_for_selection,
                                     selected: @employer_map.selected_county_ids,
                                     class: "search-query input-block-level",
                                      style: 'height: 90px',
                                      multiple: true %>
    </div>

    <div class='span5'>
    	<div class = 'row-fluid' style='margin-left: 10px'>
        <div class = 'span4'>
          Sector
        </div>
        <div class = 'span8'>
          <%= f.input_field :sector_id, label: 'Sector',
                                        collection: employer_sectors_for_selection,
                                        selected: @employer_map.sector_id,
                                        include_blank: true,
                                        class: "search-query input-block-level" %>
        </div>
      </div>
      <div class = 'row-fluid' style='margin-left: 10px'>
        <div class = 'span4'>
          Trainees of Class
        </div>
        <div class = 'span8'>
          <%= f.input_field :klass_id, collection: current_user.klasses_for_selection,
                                       selected: @employer_map.klass_id,
                                       include_blank: true,
                                       class: "search-query input-block-level" %>
        </div>
      </div>

      <div class = 'row-fluid' style='margin-left: 10px'>
        <div class = 'span4'>
          Name starting with
        </div>
        <div class = 'span8'>
          <%= f.input_field :name, value: @employer_map.name, class: "search-query input-block-level" %>
        </div>
      </div>

      <%= f.check_box :show_colleges, checked: @employer_map.show_colleges?,
                                      style: 'margin: 0 5px 0 10px'%>
        <span class="lbl" style='padding-top: 0px'>Show Colleges</span>
    </div>

    <div class='span3' style = 'margin-top: 10px'>
      <button type="submit" id='submit-button' class="btn btn-flat btn-primary btn-spinner" data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> Finding...">
        <i class="icon-search icon-white"></i>Find
      </button>

      <button type = 'button' id ='help-button' class="btn btn-flat btn-small btn-info pull-right">
        <i class="icon-question-sign icon-white icon-2x"></i>
      </button>

      <br><br>

      <button type="button" id='clear-button' class="btn btn-flat btn-primary">
        Clear Filters
      </button>
    </div>

  <% end %>

</div>

<div class = 'row-fluid' style = 'margin-top:5px;background-color: #eee; padding: 10px 5px 10px 10px'>

  <div class='span2'><a href="#list" class='btn-link'>
    Employers: <b> <%= @employer_map.employers_addresses.count%></b></a>
  </div>

  <div class='span8'>
    <% unless @employer_map.searched_county_names.blank? %>
      <div class='span6'>
        Counties:<strong><%= @employer_map.searched_county_names %></strong>
      </div>
    <% end %>
    <% unless @employer_map.searched_sector_name.blank? %>
      <div class='span2'>
        <strong>Sector:<%= @employer_map.searched_sector_name %></strong>
      </div>
    <% end %>
  </div>

  <div class="span2">
    <%= render 'shared/circles_legend' if @employer_map.circles %>
  </div>

</div>

<%= render 'mapview_help' %>

<%= gmaps(@employer_map.map) if @employer_map.map %>

<br>

<div class='row-fluid'>

  <div class='span4'>
    <h4>Employers List</h4>
  </div>

  <div class='span8'>
    <button type="button" id = 'btnExport' class="btn btn-flat btn-small btn-primary pull-right" style='margin-left:20px' name='export'>
      <i class="icon-cloud-download icon-2x"></i>
    </button>
  </div>

</div>

<table class="table table-condensed table-bordered table-striped table-hover" id ='companies-table'>

  <tr>
    <th>Employer</th>
    <th>Address</th>
    <th>County</th>
    <th>Contacts</th>
  </tr>

  <% @employer_map.employers.each do |employer| %>
    <tr>
      <td><%= name_and_link(employer) %></td>
      <td><%= employer.address.gmaps4rails_address %></td>
      <td><%= employer.address.county %></td>
      <td>
        <p><%= employer.phone_no %></p>
        <% employer.contacts.each do |contact| %>
          <div style='border-top: 1px solid #ddd'>
            <b><%= contact.name %></b>
            <%= contact.land_no %>
            <%= contact.mobile_no %>
            <%= contact.email %>
          </div>
        <% end %>
      </td>
   </tr>
  <% end %>

</table>

<% content_for :scripts do %>
<script type="text/javascript">
  Gmaps.map.callback = function(){
    var c, county_polygons, county_names, county_count, polygon;

    console.log("map callback");
    console.log(Gmaps.map.polygons.length);

    county_polygons = <%= raw @employer_map.state_county_polygons.to_json %>;
    county_names = <%= raw @employer_map.state_county_names.to_json %>;
    county_count = county_polygons.length;

    for (c = 0; c < county_count; c++)
    {
      polygon = Gmaps.map.create_polygon(county_polygons[c]);
      polygon.setOptions({clickable: true, fillColor: "#88F",strokeColor: "#383838",fillOpacity: 0.15, strokeWeight: 1});
      attachPolygonInfoWindow(polygon, '<strong>' + county_names[c] + '</strong>');
    }
  }
</script>
<% end %>