<h1><%= "Trainees Near - #{@employer_map.employers[0].name}" %></h1>
<h4>Found: <%= @employer_map.trainees.count %></h4>

<div class='row-fluid'>
  <div class='span9'>
    <%= gmaps(@employer_map.map) if @employer_map.map %>
  </div>
  <% if @employer_map.trainees.any? %>
  <div class='span3' style='background-color: #eee; padding:10px'>
    <b>Send Email:</b><hr>

    <% url = { controller: :trainee_emails,
               action: :create,
               trainee_ids: @trainee_email.trainee_ids } %>

    <%= simple_form_for @trainee_email, url: url do |f| %>
      <%= f.hidden_field :klass_id %>
      <%#= f.hidden_field :trainee_ids %>
      <%= f.input :subject, input_html: { style: 'width: 90%'} %>
      <%= f.input :content, input_html: { style: 'width: 90%; height: 100px'} %>
      <%= submit_button(f, 'Send') %>
    <% end %>
  </div>
  <% end %>
</div>
<div class='row-fluid' style='margin-top: 20px'>
<%= download_button %>

  <table id="table_trainees" class="table table-condensed table-bordered table-striped table-hover">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Skills</th>
      <th>Last Salary</th>
      <th>Job Title</th>
      <th>Sector</th>
      <th>Funding Source</th>
    </tr>
    <% @employer_map.trainees.each do |trainee| %>
      <tr>
        <td><%= name_and_link trainee %></td>
        <td><%= trainee.email %></td>
        <td><%= trainee.mobile_no && format_phone_no(trainee.mobile_no)%></td>
        <td><%= trainee.skills %></td>
        <td><%= trainee.last_wages%></td>
        <td><%= trainee.last_job_title%></td>
        <td><%= trainee.sector_name%></td>
        <td><%= trainee.funding_source_name%></td>
      </tr>
    <% end %>
  </table>
</div>
