<h1>Search Companies on Google</h1>
<div class = 'row-fluid filters-div' >

<%= simple_form_for :filters, method: :get, url: [:search_google, :employers], html: {class: 'form-search'} do |f| %>

  Name <%= f.input_field :name, value: params[:filters] && params[:filters][:name] %>
  Location(City,State) <%= f.input_field :location, value: params[:filters] && params[:filters][:location]%>

  <%= submit_button(f,'Find') %>

<% end %>
</div>

<% if @companies %>
	<table class="table table-bordered table-striped table-hover table-condensed" id='companies-table'>

		<tr>
			<th></th>
			<th>Name</th>
			<th>Category</th>
			<th>Address</th>
			<th>Match Prob</th>
			<th>Action</th>
		</tr>
	<% count = 0 %>
	<% @companies.each do |company| %>
		<tr>
			<th><%= count += 1%></th>
			<td> <%= company.name %></td>
			<td> <%= company.types %></td>
			<td> <%= company.formatted_address %></td>
			<td> <%= company.score %></td>
			<td></td>
		</tr>
	<% end %>
	</table>
<% else %>
	<strong>'Not Found'</strong>
<% end %>

<script type="text/javascript">
  $('.form-search').submit(function() {
    name = $('#filters_name').val();
    if (name == ''){
      alert("Please enter name");
      return false;
    }
    near = $('#filters_location').val();
    if (near == ''){
      alert("Please enter location");
      return false;
    }

  });
</script>