<div class="row-fluid" >
  <div class="opero-widget-box">
    <div class="opero-widget-header ">
      <h1><%="#{trainee.new_record? ? 'New Trainee' : 'Edit Trainee'} "%></h1>
    </div>
      <%= simple_form_for(trainee,html: { class: "form-horizontal" }) do |f| %>
      <div class = 'row-fluid'>
        <div class = 'span5'>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :first, label: 'First Name' %>
            <%= f.input :middle, label: 'M.I', input_html: {class: "span2"} %>
            <%= f.input :last, label: 'Last Name' %>
            <%= f.input :trainee_id, label: 'Trainee ID' %>

            <%= f.association :funding_source %>

            <h4>Home Address</h4>
            Note: Address is ignored if street not entered

            <%= f.fields_for :home_address do |address_fields| %>
              <%= render 'shared/address_fields', address_fields: address_fields,
                                                  required: false %>
            <% end %>
            <h4>Mailing Address if different from above</h4>
            <%= f.fields_for :mailing_address do |address_fields| %>
              <%= render 'shared/address_fields', address_fields: address_fields,
                                                  required: false %>
            <% end %>
            <%= f.input :gender, collection: ([["Male", 1],['Female', 2]]),
                                 include_blank: false %>
            <%= f.input :land_no %>
            <%= f.input :mobile_no %>
            <%= f.input :email, as: :email %>
            <%= f.input :dob, input_html: { data: { behaviour: "datepicker" },
                                            value: trainee.dob.to_s },
                              as: :string %>

            <%= f.input :race_id, label: 'Ethnicity', collection: Race.all %>
            <%= f.input :veteran%>
            <%= f.input :legal_status, collection: trainee_legal_statues %>
            <%= f.fields_for :tact_three do |tact_fields| %>
              <%= tact_fields.input :education_level, collection: Education.all %>
              <h4>Past Employment Information:</h4>
              <%= tact_fields.input :recent_employer, label: 'Last Place of Employment' %>
              <%= tact_fields.input :job_title %>
              <%= tact_fields.input :years, label: 'Number of years' %>
              <%= tact_fields.input :certifications, input_html: {rows: 5} %>
            <% end %>

            <% if trainee.new_record? %>
              <%= f.association :klasses, label: 'Assign to Classes',
                                          collection: current_user.klasses_for_selection,
                                          input_html: { style: 'width: 500px'} %>
            <% end %>

          </div>
        </div>

      </div>
      <div class="form-actions">
        <%= render 'shared/cancel_link' %>
        <%= submit_button(f, 'Save') %>
      </div>
      <% end %>
  </div>
</div>
