<h4>
  <%= trainee.name %>
  <%= edit_button(trainee) %>
</h4>

<% if trainee.login_id? %>
<p>
  Login ID: <%= trainee.login_id %>
</p>
<% end %>

<p>
  <b>Address:</b><br>
  <%= trainee.home_address %>
  <%= trainee.land_no      %>
  <%= trainee.mobile_no    %>
  <%= trainee.email        %>
</p>

<%= trainee.funding_source %>
<%= trainee.navigator %>

<%= trainee.files_header %>
<div id = '<%=div_id_for_collection(TraineeFile)%>'>
  <%= render trainee.trainee_files %>
</div>
