<% if trainee.applicant %>  
  <h2>
    Is trainee an incumbent?
    <%= trainee.applicant.employment_status_pre_selected? ? "Yes" : 'No' %>
  </h2>
<% end %>  
<h2>
  Trainee UI Verified?
  <%= trainee.ui_claim_verified_on ? "Yes, on #{trainee.ui_claim_verified_on}" : 'No'%>
</h2>
<h4>
  UI Verified Notes
  <%= button_new_association(UiVerifiedNote, from: 1, trainee_id: trainee.id, id_prefix: "trainee_#{trainee.id}_", title: 'New Note') %>
</h4>
<div id = 'trainee_<%=trainee.id%>_ui_verified_notes'>
  <%= render trainee.ui_verified_notes%>
</div>
<hr>

<h4>
  Trainee Services
  <%= button_new_association(TraineeService, from: 1, trainee_id: trainee.id, id_prefix: "trainee_#{trainee.id}_", title: 'New Service') %>
</h4>
<div id = 'trainee_<%=trainee.id%>_trainee_services'>
  <%= render trainee.trainee_services%>
</div>
<hr>

<%= trainee.assessments_header %>
<div id="<%=div_id_for_collection(TraineeAssessment)%>">
  <%= render trainee.trainee_assessments %>
</div>

<% if current_grant.trainee_applications? %>
  <p>
    Registered Date: <%= trainee.applicant.created_at.to_date.to_s %>
  </p>
  EDP Date: <%= trainee.edp_date.to_s %>
<% end %>
<hr>

<%= trainee.trainee_submits_header %>
<div id="<%=div_id_for_collection(TraineeSubmit)%>">
  <%= render trainee.trainee_submits %>
</div>
<hr>

<%= trainee.job_shares_header %>
<%= render 'job_shares', job_shares: trainee.job_shares, trainee: trainee %>
