<h2>
  Trainee UI Verified?
  <%= trainee.ui_claim_verified_on ? "Yes, on #{trainee.ui_claim_verified_on}" : 'No'%>
</h2>
<%= trainee.assessments_header %>
<div id="<%=div_id_for_collection(TraineeAssessment)%>">
  <%= render trainee.trainee_assessments %>
</div>

<% if current_grant.trainee_applications? %>
  <p>
    Registered Date: <%= trainee.applicant.created_at.to_date.to_s %>
  </p>
  EDP Date: <%= trainee.edp_date.to_s %>
<% end %>
<hr>

<%= trainee.trainee_submits_header %>
<div id="<%=div_id_for_collection(TraineeSubmit)%>">
  <%= render trainee.trainee_submits %>
</div>
<hr>

<%= trainee.job_shares_header %>
<%= render 'job_shares', job_shares: trainee.job_shares, trainee: trainee %>
