<h4>
  <%= trainee.name %>
  <%= edit_button(trainee) %>
</h4>

<% if trainee.login_id? %>
<p>
  Login ID: <%= trainee.login_id %>
</p>
<% end %>

<% if current_grant.auto_job_leads? && trainee.job_search_profile %>
  <div id='opt_out_div'>
    <%= render 'job_search_profiles/opt_out_in', job_search_profile: trainee.job_search_profile %>
  </div>
<% end %>

<%= render 'disabled_info', trainee: trainee %>

<%= render 'employment_status', trainee: trainee %>

<p>
  <b>Address:</b><br>
  <%= trainee.home_address %>
  <%= trainee.land_no      %>
  <%= trainee.mobile_no    %>
  <%= trainee.email        %>
</p>

<%= trainee.funding_source %>
<%= trainee.navigator %>

<%= trainee.files_header %>
<div id = '<%=div_id_for_collection(TraineeFile)%>'>
  <%= render trainee.trainee_files %>
</div>
