<% if trainee_files %>
  <div class='span5'>
    <h2>Documents Uploaded:</h2>
    <table class="table table-condensed table-bordered table-striped table-hover">
    <% trainee_files.each do |trainee_file| %>
      <tr>
        <td><%= trainee_file.created_at.to_date.to_s%></td>
        <td>
        <%= link_to trainee_file, class: 'btn-link', target: "_blank" do %>
            <%= trainee_file.name %>
        <% end %>
        </td>
        <td><%= trainee_file.notes%></td>
      </tr>
    <% end %>
    </table>
  </div>
  <% if trainee_file %>
    <div class='span5'>
      <h2>Upload Another File:</h2>
      <%= render 'new_trainee_file_form', trainee_file: trainee_file %>
    </div>
  <% end %>
<% elsif trainee_file %>
  <div class="row-fluid" >
    <div class="opero-widget-box">
      <div class="opero-widget-header">
        <h1>Please upload your recent resume document in MS Word or PDF format</h1>
      </div>
      <%= render 'new_trainee_file_form', trainee_file: trainee_file %>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $('#trainee_file_form').submit(function() {
    var txt = $('#trainee_file_file').val();
    if (txt == ''){
      alert("Please select a file");
      return false;
    }
    var ext = txt.match(/\.([^\.]+)$/)[1];
    switch(ext)
    {
        case 'pdf':
        case 'docx':
        case 'doc':
            break;
        default:
            alert('Invalid file type. Please select a file with extensions either pdf or docx');
            return false;
    }
  })
</script>