<table border="1">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <% if current_grant.trainee_applications? %>
      <th>Applied On</th>
    <% end %>
    <th>Status</th>
    <th>Email</th>
    <th>Mobile No</th>
    <th>County</th>
    <% if current_grant.trainee_applications? %>
      <th>Last Job Title</th>
      <th>Last Salary</th>
      <th>Industry</th>
    <% end %>
    <th>Funding Source</th>

    <th>Education</th>
    <th>Veteran</th>
    <% if current_grant.trainee_applications? %>
      <th>Skills</th>
      <th>Navigator</th>
    <% end %>
    <th>Classes</th>
    <th>Assessment</th>
  </tr>
<% @trainees.each do |t| %>
  <tr>
    <td><%= t.first %></td>
    <td><%= t.last %></td>
    <% if current_grant.trainee_applications? %>
      <td><%= t.applied_on %></td>
    <% end %>
    <td><%= t.placement_status %></td>
    <td><%= t.email %></td>
    <td><%= t.mobile_no %></td>
    <td><%= t.county_name %></td>
    <% if current_grant.trainee_applications? %>
      <td><%= t.last_job_title %></td>
      <td><%= t.last_wages %></td>
      <td><%= t.sector_name %></td>
    <% end %>
    <td><%= t.funding_source_name %></td>
    <td><%= t.education %></td>
    <td><%= t.veteran ? 'Yes' : 'No' %></td>
    <% if current_grant.trainee_applications? %>
      <td><%= t.skills %></td>
      <td><%= t.navigator_name %></td>
    <% end %>
    <td><%= t.klasses.map{ |k| k.name }.join('<br>').html_safe %></td>
    <td><%= t.assessments.map{ |a| a.name }.join('<br>').html_safe %></td>
  </tr>
<% end %>
</table>
