<h1>Trainees</h1>
<div class = 'row-fluid filters-div' >
  <%= simple_form_for :filters, method: :get,
                                url: '/trainees',
                                html: { class: 'form-search',
                                        style: 'margin-bottom: 0px' } do |f| %>

  Select a Class
  <%= f.input_field :klass_id, collection: current_user.klasses_for_selection,
                               selected: @filter_info[:klass_id],
                               class: "search-query",
                               style: 'width: 450px' %>

  <strong style='margin-left: 20px; margin-right: 20px'>OR</strong> Name

  <%= f.input_field :name, class: "search-query",
                           value: @filter_info[:name],
                           style: 'width: 50px' %>
  <button type="submit" class="btn btn-flat btn-small btn-primary">
    <i class="icon-search icon-white"></i>Find
  </button>
<% end %>
</div>


<div class = 'row' style='margin-top: 30px'>
  <div class = 'span8'>
    <h4><i class="icon-user blue"></i><%= "Trainees (#{@trainees.count})" %></h4>
  </div>
  <div class = 'span4'>
    <%= new_button(Trainee) %>
  </div>
</div>

<table id="table_trainee" class="table table-condensed table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>TAPO ID</th>
    <th>Name</th>
    <th>email</th>
    <th>Land No.</th>
    <th>Mobile</th>
    <th>Location</th>
    <th></th>
  </tr>
  </thead>
  <% @trainees.each do |trainee| %>
    <tr id='tr_<%=trainee.id%>'>
      <td><%= trainee.id %></td>
      <td><%= name_and_link trainee %></td>
      <td><%= trainee.email%></td>
      <td><%= format_phone_no(trainee.land_no)%></td>
      <td><%= format_phone_no(trainee.mobile_no)%></td>
      <td><%= trainee.county_name %> </td>
      <td>
        <% resource = trainee %>
        <% confirm_message = "Are your sure you want to delete trainee #{trainee.name}?" %>

        <%= show_button(resource) %>
        <% if policy(resource).edit? %>
          <%= edit_button(resource) %>
        <% end %>
        <% if policy(resource).destroy? %>
          <%= button_destroy_association(resource, confirm_message: confirm_message)%>
        <% end %>
      </td>

    </tr>
  <% end %>
</table>
