<h1><%= "Trainees - Locations" %></h1>
<div class = 'row-fluid filters-div'>
  <%= simple_form_for :filters, method: :get, url: [:mapview, :trainees], html: { class: 'form-search', style: 'margin-bottom: 0px' } do |f| %>

    Class
    <%= f.input_field :klass_id, collection: current_user.klasses_for_selection,
                                 selected: @trainees_map.klass_id,
                                 style: 'width: 500px',
                                 include_blank: true %>
    Trainee
    <%= f.input_field :trainee_id, collection: @trainees_map.klass_trainees,
                                   selected: @trainees_map.trainee_id,
                                   include_blank: 'All'%>
    <button type='submit' id='submit-button' class="btn btn-flat btn-primary btn-small btn-spinner" data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> Processing...">
      <i class='icon-search icon-white'></i> Find
    </button>
    <button type = 'button' id ='help-button' class='btn btn-flat btn-small btn-info' style='margin-left: 20px'>
      <i class='icon-question-sign icon-white icon-2x'></i>
    </button>
    <br><br>
    <%= f.check_box :near_by_employers, checked: @trainees_map.near_by_employers?,
                                        style: 'margin: 0 5px 0 0;'%> Search Near By Employers
    in Sector <%= f.input_field :sector_id, collection: employer_sectors_for_selection,
                                            selected: @trainees_map.sector_id%>
    within <%=f.number_field :radius, value: @trainees_map.radius,
                                      step: 1,
                                      in: 5..30,
                                      style: 'width: 40px'%> miles

  <% end %>
</div>

<%= render 'mapview_help' %>

<div class = 'row-fluid' style = 'background-color: #eee; padding: 10px 5px 10px 10px'>
    <% if @trainees_map.error %>
      <div style = 'text-align: center;color: red;'>
        <%= @trainees_map.error %>
      </div>
    <% else %>
      <div class='span3'>
        <a href="#list" class='btn-link'>
          <%= "Trainees: <b>#{@trainees_map.addresses.count} of #{@trainees_map.trainees.count}</b>".html_safe unless @trainees_map.near_by_employers? %>
        </a>
      </div>
      <div class='span7'>
        <%= @trainees_map.klass && "Class: #{@trainees_map.klass.to_label}" %>
      </div>
      <div class='span2'>
        <%= render 'shared/circles_legend' if @trainees_map.near_by_employers? %>
      </div>
    <% end %>
</div>

<%= gmaps(@trainees_map.map) if @trainees_map.map %>

<br>
<% if @trainees_map.show_near_by_employers? %>

  <table id="table_employer" class="table table-condensed table-bordered table-striped table-hover">
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>County</th>
      <th>Notes</th>
    </tr>

    <% @trainees_map.employers.each do |employer| %>
      <tr>
          <td><%= link_to employer.name, employer %></td>
          <td><%= employer.city%></td>
          <td><%= "#{employer.county} - #{employer.state}" %></td>
          <td>
            <ol>
            <% employer.employer_notes.each do |notes|%>
              <li><%= notes.note %></li>
            <% end %>
            </ol>
          </td>
      </tr>
    <% end %>
  </table>

<% elsif @trainees_map.trainees && !@trainees_map.error%>

  <!-- list view -->
  <a name="list"></a>
  <h4>Trainees List</h4>

  <table class="table table-condensed table-bordered table-striped table-hover">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>County</th>
    </tr>
    <% @trainees_map.trainees.each do |t| %>
    <tr>
      <td><%= link_to t.name, t %></td>
      <td><%= t.home_address && t.home_address.gmaps4rails_address %></td>
      <td><%= t.home_address && t.home_address.county %></td>
    </tr>

    <% end %>
  </table>
<% end %>
