<h1><%= "Colleges - Near By Trainees" %></h1>

<table class="table table-condensed table-bordered table-striped table-hover">
<% @trainees_map.navigators.each do |id, navigator| %>
    <tr>
      <td colspan="4" style='color: blue;'>
        <strong><%= navigator.name %></strong>
        <button type = 'button' class = 'pull-right btn btn-flat btn-small btn-primary add_trainees_to_class'>
          Add Trainees To Class
        </button>
      </td>
    </tr>
    <tr>
      <th>Classes</th>
      <th>College</th>
      <th>Count</th>
      <th>Trainees</th>
    </tr>
    <% navigator_name = navigator.name %>
    <% navigator.colleges.each do |college| %>
      <% next if college.klasses.empty? && college.trainees.empty? %>
      <tr>
        <td><%= college.klasses %></td>
        <td><%= college.name %></td>
        <td><%= college.trainees.count %></td>
        <td>
          <%= count = college.trainees.count
              if count > 0
                t = college.trainees.first
                check_box_tag(t.id, true, false, class: 'chk-add-trainee', style: 'margin-top: 0px; margin-right: 5px') +
                "<a href='/trainees/#{t.id}'>#{t.name}</a>".html_safe
              end
          %>
          <% if count > 1 %>
            <button type = 'button' id = 'show_all_trainees_<%= college.id%>'
                    class = 'btn btn-flat btn-mini btn-primary show_or_hide_trainees'>
              Show All
            </button>
            <br>
          <% end %>
          <% if count > 1 %>
            <div class = 'all_trainees' id = 'all_trainees_<%=college.id%>' style='display: none;'>
          <% end %>
          <%= if count > 1
              college.trainees[1..-1].map do |t|
                check_box_tag(t.id, true, false, class: 'chk-add-trainee', style: 'margin-top: 0px; margin-right: 5px') +
                "<a href='/trainees/#{t.id}'>#{t.name}</a>".html_safe
              end.join('<br/>').html_safe
            end
          %>
          <% if count > 1 %>
            </div>
          <% end %>
        </td>
      </tr>
      <% navigator_name = '' %>
    <% end %>
    <tr style='border-left: none; border-right: none; border-bottom: none'>
      <td colspan="4"></td>
    </tr>
<% end %>
</table>

<% if @trainees_map.trainees_no_college.any? %>
  <h2>No college found for the following</h2>
  <table class="table table-condensed table-bordered table-striped table-hover">
    <tr>
      <th>Trainee</th>
      <th>Address</th>
      <th>Reason</th>
    </tr>
    <% @trainees_map.trainees_no_college.each do |trainee, address, reason| %>
    <tr>
      <td><%= "<a href='/trainees/#{trainee.id}'>#{trainee.name}</a>".html_safe %></td>
      <td><%= address %> </td>
      <td><%= reason %></td>
    </tr>
    <% end %>
  </table>
<% end %>

<%= gmaps(@trainees_map.map) if @trainees_map.map %>
<script type="text/javascript">
$('.show_or_hide_trainees').click(function () {
  button_id = $(this).attr('id');
  college_id = button_id.split('_')[3];
  div_id = '#all_trainees_' + college_id;
  f_show = $(div_id).is(':hidden');

  if (f_show)
  {
    $(div_id).show();
    $('#' + button_id).html('Hide');
  }
  else
  {
    $(div_id).hide();
    $('#' + button_id).html('Show All');
  }
});
$('.add_trainees_to_class').click(function () {
  var trainee_ids = new Array();

  $("input[type='checkbox']:checked").each(function() {
    trainee_ids.push(this.id);
  });

  if(trainee_ids.length == 0){
    alert('Please select some trainees');
  }
  else{
    href = "/klass_trainees/new?trainee_ids=" + encodeURIComponent(trainee_ids);
    window.open(href, '_blank');
  }
});

</script>