<div class = 'row-fluid page-caption-div' >
  <h1><%= "Colleges - Near By Trainees" %></h1>
</div>

<div class = 'row-fluid filters-div'>

  <%= simple_form_for :filters, method: :get,
                                url: [:near_by_colleges, :trainees],
                                html: { class: 'form-search',
                                        style: 'margin-bottom: 0px' } do |f| %>
    Funding Source
    <%= f.input_field :funding_source_id, collection: FundingSource.all,
                                          selected: params[:filters].try(:[], :funding_source_id),
                                          include_blank: 'All' %>
    <button type='submit'
            id='submit-button'
            class="btn btn-flat btn-primary btn-small btn-spinner"
            data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> Processing...">
      <i class='icon-search icon-white'></i> Find
    </button>
  <% end %>
</div>

<div class = 'pull-right' style = 'padding-top: 5px; margin-bottom: 10px'>
  <%= download_button %>
</div>

<table class="table table-condensed table-bordered table-striped table-hover">
<% @trainees_map.navigators.each do |id, navigator| %>
    <tr>
      <td colspan="4" style='color: blue;'>
        <strong><%= navigator.name + " - #{navigator.trainees_count}"%></strong>
        <button type = 'button' class = 'pull-right btn btn-flat btn-small btn-primary add_trainees_to_class'>
          Add Trainees To Class
        </button>
      </td>
    </tr>
    <tr>
      <th>Classes</th>
      <th>College</th>
      <th>Count</th>
      <th>Trainees</th>
    </tr>
    <% navigator_name = navigator.name %>
    <% navigator.colleges.each do |college| %>
      <% next if college.klasses.empty? && college.trainees.empty? %>
      <tr>
        <td><%= college.klasses %></td>
        <td><%= college.name %></td>
        <td><%= college.trainees.count %></td>
        <td>
          <%= count = college.trainees.count
              if count > 0
                t = college.trainees.first
                check_box_tag(t.id, true, false, class: 'chk-add-trainee', style: 'margin-top: 0px; margin-right: 5px') +
                "<a href='/trainees/#{t.id}'>#{t.name}</a>".html_safe
              end
          %>
          <% next unless count > 1 %>

          <button type = 'button' id = 'show_all_trainees_<%= college.id%>'
                  class = 'btn btn-flat btn-mini btn-primary show_or_hide_trainees'>
            Show All
          </button>
          <br>
          <div class = 'all_trainees' id = 'all_trainees_<%=college.id%>' style='display: none;'>
          <%=
            college.trainees[1..-1].map do |t|
              check_box_tag(t.id, true, false, class: 'chk-add-trainee', style: 'margin-top: 0px; margin-right: 5px') +
              "<a href='/trainees/#{t.id}'>#{t.name}</a>".html_safe
            end.join('<br/>').html_safe
          %>
          </div>
        </td>
      </tr>
      <% navigator_name = '' %>
    <% end %>
    <tr style='border-left: none; border-right: none; border-bottom: none'>
      <td colspan="4"></td>
    </tr>
<% end %>
</table>

<% if @trainees_map.trainees_no_college.any? %>
  <h2>No college found for the following</h2>
  <table class="table table-condensed table-bordered table-striped table-hover">
    <tr>
      <th>Trainee</th>
      <th>Address</th>
      <th>Reason</th>
    </tr>
    <% @trainees_map.trainees_no_college.each do |trainee, address, reason, county| %>
    <tr>
      <td><%= "<a href='/trainees/#{trainee.id}'>#{trainee.name} - #{trainee.funding_source_name}</a>".html_safe %></td>
      <td><%= address && (address.to_s + ' county: ' + county.to_s) %> </td>
      <td><%= reason %></td>
    </tr>
    <% end %>
  </table>
<% end %>

<%= gmaps(@trainees_map.map) if @trainees_map.map %>
