<div class = 'row-fluid page-caption-div' >
  <h1>Trainee Information
  <% if @trainee.applicant %>
      <span class='pull-right' style='font-size: medium'>
        <%= link_to('Applicant Page', @trainee.applicant) %> |
        <%= link_to('Job Leads', auto_shared_jobs_path(trainee_id: @trainee.id)) %>
      </span>
  <% end %>
  </h1>
</div>

<div class = 'row-fluid'>
  <div class = 'span4 left-panel'>
    <%= render 'panel_basic_info', trainee: @trainee %>
  </div>

  <div class = 'span4'>
    <%= render 'panel_middle', trainee: @trainee %>
  </div>

  <div class = 'span4'>
    <%= render 'panel_klass_and_employers_info', trainee: @trainee %>
  </div>
</div>

<%= render 'trainee_interactions/modal_placement_information' %>
<%= render 'modal_new_employer' %>
<%= render 'modal_disable_trainee', trainee: @trainee %>

