<h1>Imported Employers</h1>

<%= render 'import_status', import_status: @import_status %>
<%= render 'import_fails', import_status: @import_status %>

<h4>The following <%= @import_status.employers.count %> employers imported successfully!</h4>
<table id="table_employer" class="table table-condensed table-bordered table-striped table-hover">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>County</th>
    <th>Sectors</th>
    <th>Source</th>
  </tr>

  <% @import_status.employers.each do |employer| %>
    <tr id='tr_<%=employer.id%>'>
      <td><%= employer.id %></td>
      <td><%= name_and_link(employer) %></td>
      <td><%= employer.county %></td>
      <td>
        <ol>
          <% employer.sectors.each do |s| %>
            <li><%= s.name %></li>
          <% end %>
        </ol>
      </td>
      <td><%= employer.employer_source_name %></td>
    </tr>
  <% end %>
</table>
