<h1>Status of Imports</h1>
<% @statuses.each do |status| %>
  <% account = status[0] %>
  <h4><%= "#{account.name} - #{account.subdomain}" %></h4>
  <table id="table_report" class="table table-bordered table-striped table-hover">
    <tr>
      <th>Created At</th>
      <th>User</th>
      <th>Type</th>
      <th>Success Count</th>
      <th>Fail Count</th>
      <th>Params</th>
    </tr>
    <% status[1].each do |import_status| %>
      <tr id='tr_<%=import_status.id%>'>
        <td><%= import_status.created_at.to_s %></td>
        <td><%= import_status.user_name %></td>
        <td><%= import_status.type %></td>
        <td><%= import_status.rows_successful %></td>
        <td><%= import_status.rows_failed %></td>
        <td><%= import_status.params %></td>

        <td>
        <%= link_to admin_import_status_path(import_status),
                   class: "btn btn-flat btn-mini btn-primary" do %>
          <i class="icon-eye-open"></i>
        <% end %>
        <%= link_to admin_import_status_path(import_status),
                    method: :delete,
                    class: "btn btn-flat btn-mini btn-danger",
                    remote: true,
                    title:"Delete"  do %>
          <i class="icon-trash"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
