<div class = 'row-fluid page-caption-div' >
  <h1>Job Leads Metrics</h1>
</div>
<div class='row'>
  <% trainee_counts = @data.counts_by_status %>
  <div id = 'jobs_leads_metrics' class='span4'>
    <h2>
      <%= link_to 'Skill Metrics', dashboards_path(auto_leads_metrics: true,
                                                   skill_metrics: true) %>
    </h2>
    <table class="table table-condensed table-bordered table-striped table-hover">
      <tr>
        <td>No. of students</td>
        <td><b><%= Trainee.count %></b></td>
      </tr>
      <tr>
        <td>Total Job Leads Sent</td>
        <td><b><%= @data.job_leads_sent_count%></b></td>
      </tr>
      <tr>
        <td>Job Leads / Student </td>
        <td><b><%= @data.average_leads %></b></td>
      </tr>
    </table>
    <table class="table table-condensed table-bordered table-striped table-hover">
      <tr>
        <td>
          <%= link_to 'No. of students updated job search profile',
                      dashboards_path(auto_leads_metrics: true,
                                      status: :NOT_PENDING) %>
        </td>
        <td><b><%= trainee_counts[:NOT_PENDING] %></b></td>
      </tr>
      <tr>
        <td>
          <%= link_to 'No. of students NOT updated job search profile',
                      dashboards_path(auto_leads_metrics: true, status: :PENDING) %>
        </td>
        <td><b><%= trainee_counts[:PENDING] %></b></td>
      </tr>
      <tr>
        <td>
          <%= link_to 'No. of students opted out',
                      dashboards_path(auto_leads_metrics: true, status: :OPTED_OUT) %>
        </td>
        <td><b><%= trainee_counts[:OPTED_OUT] %></b></td>
      </tr>
      <tr>
        <td>
          <%= link_to 'Students viewed at least one job lead',
                      dashboards_path(auto_leads_metrics: true, status: :VIEWED) %>
        </td>
        <td><b><%= trainee_counts[:VIEWED] %></b></td>
      </tr>
      <tr>
        <td>
          <%= link_to 'Students NOT viewed any job lead',
                      dashboards_path(auto_leads_metrics: true, status: :NOT_VIEWED) %>
        </td>
        <td><b><%= trainee_counts[:NOT_VIEWED] %></b></td>
      </tr>
      <tr>
        <td>
          <%= link_to 'Students applied for at least one job lead',
                      dashboards_path(auto_leads_metrics: true, status: :APPLIED) %>
        </td>
        <td><b><%= trainee_counts[:APPLIED] %></b></td>
      </tr>
      <tr>
        <td>
          <%= link_to 'Students NOT applied for any job lead',
                      dashboards_path(auto_leads_metrics: true, status: :NOT_APPLIED) %>
        </td>
        <td><b><%= trainee_counts[:NOT_APPLIED] %></b></td>
      </tr>
    </table>
  </div>

  <div class ='span7'>
    <div align="center"><%= will_paginate(@data.trainees_list_page) %></div>

    <div id = 'jobs_leads_trainees' class='vertical-scroll-div' style='max-height: 320px;'>
      <table class="table table-condensed table-bordered table-striped table-hover">
        <tr>
          <th>Name</th>
          <th>Profile</th>
          <th>Leads</th>
          <th>Viewed</th>
          <th>Applied</th>
          <th>Not Interested</th>
        </tr>
        <% trainee_metrics = @data.metrics_by_trainee%>
        <% trainee_metrics.each do |tm| %>
        <tr>
          <td><%= tm[:name] %></td>
          <td style='<%= "color: red" unless tm[:valid_profile] %>'>
            <%= tm[:valid_profile] ? 'updated' : 'not updated' %>
          </td>
          <td><%= tm[:leads_count].to_i %></td>
          <td><%= tm[:viewed_count].to_i %></td>
          <td><%= tm[:applied_count].to_i %></td>
          <td><%= tm[:not_interested_count].to_i %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
