<div class = 'row-fluid page-caption-div' >
  <h1>Job Leads Metrics</h1>
</div>
<h2>
  <%= link_to 'Skill Metrics', auto_leads_metrics_path(skill_metrics: true) %>
</h2>
<% auto_lead_trainees = AutoLeadTrainees.new %>
<div class='row'>
  <% trainee_counts     = auto_lead_trainees.counts_by_status %>
  <div id = 'jobs_leads_metrics' class='span4'>
    <table class="table table-condensed table-bordered table-striped table-hover">
      <tr>
        <td>No. of students</td>
        <td><b><%= Trainee.count %></b></td>
      </tr>
      <tr>
        <td>Total Job Leads Sent</td>
        <td><b><%= auto_lead_trainees.job_leads_sent_count%></b></td>
      </tr>
      <tr>
        <td>Job Leads / Student </td>
        <td>
          <b>
          <%= auto_lead_trainees.job_leads_sent_count / trainee_counts[:NOT_PENDING] if trainee_counts[:NOT_PENDING] > 0 %>
          </b>
        </td>
      </tr>
    </table>
    <table class="table table-condensed table-bordered table-striped table-hover">
      <tr>
        <td>
          <%= link_to 'No. of students updated job search profile',
                      auto_leads_metrics_path(status: :NOT_PENDING) %>
        </td>
        <td><b><%= trainee_counts[:NOT_PENDING] %></b></td>
      </tr>
      <tr>
        <td>
          <%= link_to 'No. of students NOT updated job search profile',
                      auto_leads_metrics_path(status: :PENDING) %>
        </td>
        <td><b><%= trainee_counts[:PENDING] %></b></td>
      </tr>
      <tr>
        <td>
          <%= link_to 'No. of students opted out',
                      auto_leads_metrics_path(status: :OPTED_OUT) %>
        </td>
        <td><b><%= trainee_counts[:OPTED_OUT] %></b></td>
      </tr>
      <tr>
        <td>
          <%= link_to 'Students viewed at least one job lead',
                      auto_leads_metrics_path(status: :VIEWED) %>
        </td>
        <td><b><%= trainee_counts[:VIEWED] %></b></td>
      </tr>
      <tr>
        <td>
          <%= link_to 'Students NOT viewed any job lead',
                      auto_leads_metrics_path(status: :NOT_VIEWED) %>
        </td>
        <td><b><%= trainee_counts[:NOT_VIEWED] %></b></td>
      </tr>
      <tr>
        <td>
          <%= link_to 'Students applied for at least one job lead',
                      auto_leads_metrics_path(status: :APPLIED) %>
        </td>
        <td><b><%= trainee_counts[:APPLIED] %></b></td>
      </tr>
      <tr>
        <td>
          <%= link_to 'Students NOT applied for any job lead',
                      auto_leads_metrics_path(status: :NOT_APPLIED) %>
        </td>
        <td><b><%= trainee_counts[:NOT_APPLIED] %></b></td>
      </tr>
    </table>
  </div>
  <div id = 'jobs_leads_trainees' class='span7 vertical-scroll-div' style='max-height: 320px;'>
    <table class="table table-condensed table-bordered table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Profile</th>
        <th>Leads</th>
        <th>Viewed</th>
        <th>Applied</th>
        <th>Not Interested</th>
      </tr>
      <% trainee_metrics = auto_lead_trainees.metrics_by_trainee%>
      <% trainee_metrics.each do |tm| %>
      <tr>
        <td><%= tm[:name] %></td>
        <td style='<%= "color: red" unless tm[:valid_profile] %>'>
          <%= tm[:valid_profile] ? 'updated' : 'not updated' %>
        </td>
        <td><%= tm[:leads_count].to_i %></td>
        <td><%= tm[:viewed_count].to_i %></td>
        <td><%= tm[:applied_count].to_i %></td>
        <td><%= tm[:not_interested_count].to_i %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
