<div class='row-fluid'>
  <div class='span10'>
    <h2>Following trainees have updated job search profile </h2>
  </div>
  <div class='span2' style='margin-top:10px'>
    <%= link_to 'Map View', auto_leads_metrics_path(status: :NOT_PENDING, map: true) %>
  </div>
</div>

<table class="table table-condensed table-bordered table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Updated on</th>
    <th>Skills</th>
    <th>Location</th>
    <th>Distance</th>
    <th>Leads Count</th>
  </tr>
  <% trainee_job_counts = @data.trainee_job_counts %>
  <% @trainees.each do |trainee| %>
    <% jsp = trainee.job_search_profile %>
    <tr>
      <td><%= name_and_link trainee %></td>
      <td><%= jsp && jsp.updated_at.to_date.to_s%></td>
      <td><%= jsp && jsp.skills%></td>
      <td><%= jsp && jsp.location%></td>
      <td><%= jsp && jsp.distance%></td>
      <td><%= link_to trainee_job_counts[trainee.id].to_i, auto_shared_jobs_path(trainee_id: trainee.id) %></td>
    </tr>
  <% end %>
</table>