<div class="row-fluid" >
  <div class="opero-widget-box">
    <div class="opero-widget-header ">
      <h1>Trainee Password Email Messages</h1>
    </div>
     <%= simple_form_for(current_grant) do |f| %>
      <div class="form-inputs">
        <div class='row-fluid'>
          <%= f.input :email_password_subject,
                      as: :text,
                      lablel: 'Email Subject',
                      input_html: { style: 'width: 400px; height: 25px' } %>
          <%= f.input :email_password_body,
                      lablel: 'Email Body',
                      as: :text,
                      input_html: { style: 'width: 400px; height: 100px' },
                      hint: "meta key words: $FIRSTNAME$, $LASTNAME$, $PASSWORD$" %>
        </div>
      </div>
      <div class="form-actions">
        <%= render 'shared/cancel_link' %>
        <% if policy(Grant).edit? %>
        <%= submit_button(f) %>
        <% end %>
      </div>
      <% end %>
  </div>
</div>
