<%= simple_form_for(certificate_category, remote: true) do |f| %>
  <%= f.error_notification %>
  <div class='form-inputs'>
    <%= f.input :code %>
    <%= f.input :name %>
  </div>
  <div class="form-actions">
    <%= ajax_cancel_and_submit_buttons(f) %>
  </div>
<% end %>
<%= ajax_form_cancel_script(certificate_category) %>
