<%= simple_form_for([:trainee, trainee_file],
                    html: { multipart: true, id: 'trainee_file_form' },
                    authenticity_token: true) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.hidden_field :trainee_id %>
    Select a File:
    <%= f.input :file, as: :file, label: false %>
    <%= f.input :notes, label: 'Notes/Comments', readonly: @required_file %>
  </div>
  <div class="form-actions">
    <%= submit_button(f, 'Submit') %>
  </div>
<% end %>
