<div class = 'row-fluid page-caption-div' >
  <h1>Processed Companies File</h1>
</div>

<div class = 'row-fluid'>
  <div class = 'span4'>
    <p>File: <strong><%= @status[:file_name] %></strong></p>
    <p>Companies Found: <strong><%= @status[:success_count] %></strong></p>
    <p>Not Found: <strong><%= @status[:fail_count] %></strong></p>
  </div>
  <div class = 'span8'>
    <p>Please select sector(s) if you wish to save companies in Employer Database</p>
    *Sectors:<%= select_tag "sector_ids", options_for_select(Sector.selection_list), {multiple: :multiple, size: 6} %>
  </div>
</div>
<hr>

<button type='button' id = 'selectAll' class='btn btn-flat btn-primary' name='add_all'>
Select All
</button>
<button type='button' id = 'addSelected' class='btn btn-flat btn-primary' name='add_selected'>
<i class='icon-plus'>Add Selected</i>
</button>
<button type='button' id = 'btnExport' class='btn btn-flat btn-small btn-primary pull-right' name='export'>
  <i class='icon-cloud-download icon-2x'></i>
</button><br><br>

<table id="data-table" class="table table-condensed table-bordered table-striped table-hover">
  <tr>
    <th></th>
    <th>Status</th>
    <th>Searched Company</th>
    <th>Company Found</th>
    <th>County</th>
    <th>Match Prob</th>
  </tr>
  <% row_no = -1 %>
  <% @companies.each do |company| %>
    <% row_no += 1 %>
    <tr>
      <td id='<%="td_checkbox_#{row_no}"%>'>
        <% if company[:employer_id].nil? && (company[:found]  || company[:city_id]) %>
          <%= check_box_tag row_no.to_s, row_no.to_s, false, class: 'forAdd' %>
        <% end %>
      </td>
      <td id='<%="td_status_#{row_no}"%>'>
        <% if company[:employer_id] %>
          <b color: green>Exists</b>
        <% end %>
      </td>
      <td>
          <%= company[:company] %><br>
          <%= "#{company[:street]},#{company[:city]} #{company[:state_code]} #{company[:zip]}" %>
      </td>
      <td>
        <% if company[:found] %>
          <%= company[:company_info].html_safe %><br>
        <% else %>
          Not Found
          <% if company[:error] %>
            <br>
            <b style='color:red'><%= company[:error].to_s %></b>
          <% end %>
        <% end %>
      </td>
      <td><%= company[:county] %></td>
      <td><%= company[:score]  %></td>
    </tr>
  <% end %>
</table>
<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-header"  style='background-color: #ddd'>
    <h4><div id='modal_title'>Adding Selected Companies to Employers database</div></h4>
  </div>
  <div class="modal-body">
    <div class ='row-fluid' style= 'margin-bottom: 20px' >
      <span id='ADD_SUCCESSFUL' style='padding: 5px; border: solid green; text-weight: bold'>0</span><b> Added Successfully</b>
    </div>
    <div class ='row-fluid'>
      <span id='ADD_FAILED' style='padding: 5px; border: solid red'>0</span><b> Failed to Add </b>
    </div>
  </div>
</div>
<%= content_tag :div, class: "page_data", data: { companies: @companies.to_json, process_id: @process_id } do %>
<% end %>
