<%= simple_form_for(@trainee_email,html: { class: "form-horizontal" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :klass_id, label: 'Select a Class',
                           collection: current_user.klasses_for_selection,
                           input_html: {id: 'select_klass', style: 'width: 50%;'}%>
    <%= f.input :trainee_ids, label: "Select Trainees",
                              collection: [],
                              input_html: {multiple: true, id: 'select_trainees'},
                              include_blank: false%>

    <%= f.input :subject, input_html: {style: 'width: 50%'} %>
    <%= f.input :content, input_html: {style: 'width: 50%; height: 120px'} %>
  </div>

  <div class="form-actions">
    <%= submit_button(f, 'Send') %>
  </div>
<% end %>
