<h1>Shared Jobs</h1>

<div class = 'row-fluid filters-div' >
  <%= simple_form_for :filters, method: :get,
                                url: url_for(action: :index, controller: :job_shares),
                                html: { class: 'form-search' } do |f| %>
    Class<%= f.input_field :klass_id, collection: current_user.klasses_for_selection,
                                       id: 'select_klass',
                                      selected: params[:filters] && params[:filters][:klass_id],
                                      class: "search-query",
                                      style: 'width: 500px;' %>
    Trainee<%= f.input_field :trainee_id, collection: [],
                                          id: 'select_trainees', class: "search-query" %>
    <%= submit_button(f,'Find') %>
  <% end %>
</div>

<div class = 'row-fluid'>
  <div class = 'span4 offset4'>
    <%= will_paginate @job_shares%>
  </div>
  <div class = 'span4'>
    <%= download_button if @job_shares.any? %>
  </div>
</div>

<div class = 'row-fluid'>
    <table class="table table-bordered table-striped table-hover table-condensed">
      <tr>
        <th>Date</th>
        <th>Title(s)</th>
        <th>Comment</th>
        <th>Company</th>
        <th>Location</th>
        <th>Sent To</th>
        <th></th>
      </tr>
      <%= render @job_shares %>
    </table>
    <div class = 'row-fluid'>
      <div class = 'span4 offset4'>
        <%= will_paginate @job_shares%>
      </div>
    </div>
</div>
<%= content_tag :div, class: "page_data", data: { trainee_id: params[:filters] && params[:filters][:trainee_id] || 0 } do %>
<% end %>
