<h1>Shared Job Information</h1>

<% if @job_share.shared_jobs.any? %>
  <% @job_share.shared_jobs.each do |shared_job| %>
    <b>Title:</b>
    <%= shared_job.title %>
    <%= link_to "Job Posting", shared_job.details_url, target: "_blank"%>
    <br>
    <p>
      <b>Date posted:</b>
      <%= shared_job.date_posted && shared_job.date_posted.to_date.to_s %>
    </p>
  <% end %>
  <br>
<% else %>
  <p>
    <b>Title:</b>
    <%= @job_share.title %>
    <%= link_to "Job Posting", @job_share.details_url, target: "_blank"%>
  </p>
  <p>
    <b>Date posted:</b>
    <%= @job_share.date_posted.to_date.to_s %>
  </p>
<% end %>

<p>
  <b>Company:</b>
  <%= @job_share.company %>
</p>

<p>
  <b>Location:</b>
  <%= @job_share.location %>
</p>

<p>
  <b>Comment:</b>
  <%= @job_share.comment %>
</p>

<hr>
<p>
  <b>Date:</b>
  <%= @job_share.created_at.to_date.to_s %>
</p>

<p>
  <b>From:</b>
  <%= @job_share.shared_by %>
</p>

<p>
  <b>Sent to:</b>
  <ol>
  <% @job_share.trainees.each do |t| %>
    <li><%= t.name %></li>
  <% end %>
  </ol>
</p>