<div class = 'row-fluid page-caption-div' >
  <h1>Hot Job Information</h1>
</div>
<p>
  <b>Employer:</b>
  <%= name_and_link(@hot_job.employer) %>
</p>
<p>
  <b>Location:</b>
  <%= @hot_job.location %>
</p>
<p>
  <b>Date Posted:</b>
  <%= @hot_job.date_posted %>
</p>
<p>
  <b>Closing Date:</b>
  <%= @hot_job.closing_date %>
</p>
<p>
  <b>Title:</b>
  <%= @hot_job.title %>
</p>
<p>
  <b>Description:</b>
  <%= @hot_job.description %>
</p>
<p>
  <b>Salary:</b>
  <%= @hot_job.salary %>
</p>
