<table id="data-table" class="table table-condensed table-bordered table-striped table-hover">
  <tr style="display:none;">
    <th><%= report.title%></th>
    <%= ('<th></th>' * 6).html_safe %>
  </tr>

  <thead>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Contacts</th>
    <th>Class</th>
    <th>Events</th>
    <th>Trainees Hired</th>
    <th>Employer Notes</th>
  </tr>
  </thead>

  <% report.employers_klasses.each do |employer, klass| %>
    <tr>
      <td><%= employer_link_or_name(employer) %></td>
      <td><%= "#{employer.city} - #{employer.county}" %></td>
      <td>
        <p><%= employer.phone_no%></p>
        <% employer.contacts.each do |contact| %>
          <p>
            <b><%= contact.name %></b>
            <%= contact.land_no %>
            <%= contact.mobile_no %>
            <%= contact.email %>
          </p>
        <% end %>
      </td>
      <td><%= name_and_link(klass, klass.to_label) %></td>
      <td><%= report.render_employer_klass_interactions(klass, employer.id) %></td>
      <td>
        <% report.trainees_hired_by_employer(employer.id, klass.id).each do |trainee| %>
          <p><%= name_and_link(trainee) %></p>
        <% end %>
      </td>
      <td>
        <%= employer.render_notes %>
      </td>
    </tr>
  <% end %>
</table>
