<% if report.klass_id %>
<table class="table table-condensed table-bordered table-striped table-hover">
  <tr>
    <th colspan='2'><%= report.klass.name + ' - ' + report.klass.college_name %> </th>
  </tr>
  <tr>
    <th>Class Dates</th>
    <th><%= report.klass.start_date.to_s + ' - ' + report.klass.end_date.to_s %> </th>
  </tr>
  <tr>
    <th>Trainees</th>
    <th><%= Date.today %></th>
  </tr>
</table>
<% end %>

<table id="data-table" class="table table-condensed table-bordered table-striped table-hover">
  <% if report.klass_id %>

  <tr style='display: none'>
    <th><%= report.klass.name + ' - ' + report.klass.college_name %> </th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr style='display: none'>
    <th>Class Dates</th>
    <th><%= report.klass.start_date.to_s + ' - ' + report.klass.end_date.to_s %> </th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr style='display: none'>
    <th>Trainees</th>
    <th><%= Date.today %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% end %>

  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Status</th>
    <th>Student ID</th>
    <th>Home Address</th>
    <th>Gender</th>
    <th>Veteran</th>
    <th>Funding Source</th>
  </tr>
  <% n = 0 %>
  <% report.klasses_and_trainees.each do |klass, trainees| %>
    <% trainees.each do |trainee| %>
      <% n += 1 %>
      <tr>
        <td><%= n %></td>
        <td><%= link_to trainee.name, trainee%></td>
        <td><%= trainee.status_in_klass(klass) %></td>
        <td><%= trainee.trainee_id %></td>
        <td><%= trainee.formatted_address%></td>
        <td><%= trainee.gender%></td>
        <td><%= trainee.veteran%></td>
        <td><%= trainee.funding_source_name %></td>
      </tr>
    <% end %>
  <% end %>
</table>