<table id="data-table" class="table table-condensed table-bordered table-striped table-hover">
  <tr style="display:none;">
    <th><%= @report.title%></th>
    <%= 2.times.map{'<th></th>'}.join().html_safe %>
  </tr>

  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Notes</th>
  </tr>

  <% report.employers.each do |employer| %>
    <% employer.employer_notes.each do |employer_note| %>
      <tr>
        <td><%= employer_link_or_name(employer)  %></td>
        <td><%= employer_note.created_at.to_date.to_s %></td>
        <td><%= employer_note.note %></td>
      </tr>
    <% end %>
  <% end %>
</table>
