<table id="data-table" class="table table-condensed table-bordered table-striped table-hover">
  <tr style="display:none;">
    <th><%= report.title%></th>
    <%= ('<th></th>' * 8).html_safe %>
  </tr>
  <tr>
    <th>Employer</th>
    <th>Location</th>
    <th>Trainee</th>
    <th>Funding Source</th>
    <th>Class</th>
    <th>College</th>
    <th>Comments</th>
    <th>Title</th>
    <th>Start Date</th>
    <th>Pay</th>
    <th>Navigator</th>
  </tr>

  <% report.hired_interactions.each do |ti| %>
    <tr>
      <td><%= employer_link_or_name(ti.employer)%></td>
      <td><%= ti.employer_location%></td>
      <td><%= link_to(ti.trainee_name, trainee_path(ti.trainee)) %></td>
      <td><%= ti.trainee.funding_source_name %></td>
      <td><%=
          if ti.klass && policy(ti.klass).show?
            link_to(ti.klass_name, ti.klass)
          else
            ti.klass_name
          end
         %>
      </td>
      <td><%= ti.college_name_location%></td>
      <td><%= ti.comment %>
      <td><%= ti.hire_title%> </td>
      <td><%= ti.start_date.to_s%></td>
      <td><%= ti.hire_salary%> </td>
      <td><%= ti.navigator %></td>
    </tr>
  <% end %>
</table>

