<table id="data-table" class="table table-condensed table-bordered table-striped table-hover">
  <tr style="display:none;">
    <th><%= report.title%></th>
    <%= ('<th></th>' * 14).html_safe %>
  </tr>
  <tr>
    <th>Employer</th>
    <th>Location</th>
    <th>Trainee</th>
    <th>TAPO ID</th>
    <th>Funding Source</th>
    <th>Classes</th>
    <th>College</th>
    <th>OJT Status</th>
    <th>Comments</th>
    <th>Title</th>
    <th>Start Date</th>
    <th>Completion Date</th>
    <th>Termination Date</th>
    <th>Pay</th>
    <th>Navigator</th>
  </tr>

  <% report.hired_interactions.each do |ti| %>
    <tr>
      <td><%= employer_link_or_name(ti.employer)%></td>
      <td><%= ti.employer_location%></td>
      <td><%= link_to(ti.trainee_name, trainee_path(ti.trainee)) %></td>
      <td><%= ti.trainee.id %></td>
      <td><%= ti.trainee.funding_source_name %></td>
      <td><%=
          if ti.klasses.first && policy(ti.klasses.first).show?
            ti.klasses.map{ |klass| link_to(klass.name, klass) }.join(", ").html_safe
          else
            ti.klasses.map(&:name).join(", ")
          end
         %>
      </td>
      <td><%= ti.klasses.map(&:college_name).join(", ")%></td>
      <td><%= ti.status_name %></td>
      <td><%= ti.comment %>
      <td><%= ti.hire_title%> </td>
      <td><%= ti.start_date.to_s%></td>
      <td><%= ti.completion_date %></td>
      <td><%= ti.termination_date %></td>
      <td><%= ti.hire_salary%> </td>
      <td><%= ti.navigator %></td>
    </tr>
  <% end %>
</table>

