<table id="data-table" class="table table-condensed table-bordered table-striped table-hover">
  <tr style="display:none;">
    <th><%= report.title%></th>
    <%= ('<th></th>' * 18).html_safe %>
  </tr>

  <tr>
    <th>Name</th>
    <th>Class</th>
    <th>Funding Source</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
    <th>Student ID</th>
    <th>Home Address</th>
    <th>DOB</th>
    <th>Gender</th>
    <th>Veteran</th>
    <th>Education Level</th>
    <th>Home Phone</th>
    <th>Mobile Phone</th>
    <th>email</th>
    <th>Employer Name</th>
    <th>Employer Location</th>
    <th>Job Start Date</th>
    <th>Pay</th>
  </tr>

  <% report.klasses_and_trainees.each do |klass, trainees| %>
    <% trainees.each do |trainee| %>
      <tr>
        <td><%= link_to(trainee.name, trainee)%></td>
        <td><%= policy(klass).show? ? link_to(klass.to_label, klass) : klass.to_label %></td>
        <td><%= trainee.funding_source_name %></td>
        <td><%= klass.start_date %></td>
        <td><%= klass.end_date %></td>
        <td><%= trainee.status_in_klass(klass) %></td>
        <td><%= trainee.trainee_id %></td>
        <td><%= trainee.formatted_address%></td>
        <td><%= trainee.dob %></td>
        <td><%= trainee.gender%></td>
        <td><%= trainee.veteran%></td>
        <td><%= trainee.education%></td>
        <td><%= trainee.land_no%></td>
        <td><%= trainee.mobile_no%></td>
        <td><%= trainee.email%></td>
        <td><%= employer_link_or_name(trainee.hired_employer) if trainee.hired %></td>
        <td><%= trainee.employer_location %></td>
        <td><%= trainee.job_start_date %></td>
        <td><%= trainee.pay %></td>
      </tr>
    <% end %>
  <% end %>
</table>