<table id="data-table" class="table table-condensed table-bordered table-striped table-hover">
  <tr style="display:none;">
    <th><%= report.title%></th>
    <%= ('<th></th>' * 18).html_safe %>
  </tr>

  <tr>
    <th>TAPO ID</th>
    <th>Name</th>
    <th>Class</th>
    <th>Funding Source</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
    <th>Student ID</th>
    <th>Home Address</th>
    <th>DOB</th>
    <th>Gender</th>
    <th>Veteran</th>
    <th>Education Level</th>
    <th>Home Phone</th>
    <th>Mobile Phone</th>
    <th>email</th>
    <th>Employer Name</th>
    <th>Employer Location</th>
    <th>Job Start Date</th>
    <th>Pay</th>
  </tr>

  <% report.klasses_data.each do |klass, klass_link, trainees_data| %>
    <% trainees_data.each do |trainee_data| %>
      <tr>
        <td><%= trainee_data[0]%></td>
        <td>
            <%#= policy(klass).show? ? link_to(klass.to_label, klass) : klass.to_label %>
            <%= klass_link %>
        </td>
        <td><%= trainee_data[1]%></td>
        <td><%= klass.start_date%></td>
        <td><%= klass.end_date%></td>
        <td><%= trainee_data[2]%></td>
        <td><%= trainee_data[3]%></td>
        <td><%= trainee_data[4]%></td>
        <td><%= trainee_data[5]%></td>
        <td><%= trainee_data[6]%></td>
        <td><%= trainee_data[7]%></td>
        <td><%= trainee_data[8]%></td>
        <td><%= trainee_data[9]%></td>
        <td><%= trainee_data[10]%></td>
        <td><%= trainee_data[11]%></td>
        <td><%= trainee_data[12]%></td>
        <td><%= trainee_data[13]%></td>
        <td><%= trainee_data[14]%></td>
        <td><%= trainee_data[15]%></td>
      </tr>
    <% end %>
  <% end %>
</table>
