<h1>Employers Interested in Trainees Not Placed</h1>
<%= render "class_selection", report: @report %>
<%= @report.render_counts %>
<%= @report.download_button %>
<%= render 'shared_employers_interested_trainees.html.erb', report: @report %>
<%= render 'shared/export_table.js.erb' %>