<h1>Employers Hired</h1>
<%= render "class_selection", report: @report %>
<%= @report.render_counts %>
<%= @report.download_button %>
<%= render 'shared_employers_hired.html.erb', report: @report%>
<%= render 'shared/export_table.js.erb' %>