<h1>Trainees Applied For Jobs</h1>
<%= render "class_selection", report: @report %>
<%= @report.render_counts %>
<%= @report.download_button %>
<%= render 'shared_jobs_applied.html.erb', report: @report %>
<%= render 'shared/export_table.js.erb' %>