<h1><%= @report.title%></h1>

<div class = 'row-fluid filters-div' style='margin-bottom:10px'>
  <%= simple_form_for @report, as: :report, method: :post, url: '/reports',
                               html: { class: 'form-search form-horizontal'},
                               remote: true do |f| %>
    <%= f.hidden_field :report_name %>
    <div class='span7'>
    <%= f.input :klass_id, collection: current_user.klasses_for_selection(false),
                           label: 'Class', include_blank: false,
                           input_html: { class: "search-query", style: 'width: 490px;' } %>

    <%= f.input :sector_id, collection: employer_sectors_for_selection, label: 'Sector',
                            include_blank: false,
                            input_html: { class: "search-query", style: 'width: 490px;' }%>

    <%= f.input :distance, input_html: { style: 'width: 50px;' } %>
    </div>
    <div class='span2'>
    <button type="submit" id='submit-button' class="btn btn-flat btn-primary btn-spinner"
            style='margin-left: 20px'
            data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> Finding...">
        <i class="icon-search icon-white"></i>Find
    </button>
    </div>

  <% end %>
</div>

<% unless @report.data.blank? %>
  <b>Count: <%= @report.data.rows_count %></b>
  <% show_max_rows = (ENV['SHOW_MAX_ROWS'] || 10).to_i %>
  <% if @report.data.rows_count > show_max_rows %>
    <b style='margin-left: 20px'>
      Too many records to display. Only first <%=show_max_rows%> are shown. Please download for full list.
    </b>
  <% end %>
  <% max_rows = (ENV['MAX_ROWS_FOR_DOWNLOAD'] || 5).to_i %>
  <% if @report.data.rows_count > max_rows %>
    <%= email_download_button(report_id: @report.report_id) %>
  <% else %>
    <%= download_button(report_id: @report.report_id) %>
  <% end %>
  <table id="data-table" class="table table-condensed table-bordered table-striped table-hover">

    <tr style="display:none;">
      <th><%= @report.title%></th>
      <%= (6 + @report.max_contacts).times.map{'<th></th>'}.join().html_safe %>
    </tr>
    <tr>
      <th>Class</th>
      <th>Trainee</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Employer</th>
      <th>Address</th>
      <% n = 1 %>
      <% mc = @report.max_contacts %>
      <% (1..mc).each do |n| %>
        <th><%= "Contact #{n}" %></th>
      <% end %>
    </tr>
    <% klass = @report.data.klass %>
    <% n = 1 %>
    <% (0..@report.count-1).each do |c| %>
      <% trainee, employers_contacts = @report.trainee_employers_and_contacts(c) %>
      <% employers_contacts.each do |employer, contacts| %>
        <tr>
          <td><%= klass.name %></td>
          <td><%= name_and_link trainee %></td>
          <td><%= trainee.email %></td>
          <td><%= trainee.land_no %></td>
          <td><%= trainee.home_address.to_s_for_view.html_safe %></td>
          <td>
              <%= name_and_link employer %>
              <br> Source:
              <%= employer.employer_source_name %>
          </td>
          <td><%= employer.address.to_s_for_view.html_safe %></td>
          <% contacts.each do |contact| %>
            <td><%= contact.details %></td>
          <% end %>
          <% blank_contacts = @report.max_contacts - contacts.count %>
          <% blank_contacts.times do |n| %>
            <td></td>
          <% end %>
        </tr>
        <% break if n == show_max_rows %>
        <% n += 1 %>
      <% end %>
      <% break if n == show_max_rows %>
    <% end %>
  </table>
<% end %>
