<h1>Trainees Dropped or Not Placed</h1>
<%= render "class_selection", report: Report::TRAINEES_NOT_PLACED, klass_ids: @report.klass_ids%>
<%= @report.render_counts %>
<%= @report.download_button %>
<%= render 'shared_trainees_notplaced.html.erb', report: @report %>
<%= render 'shared/export_table.js.erb' %>
