<h1>Trainees Details</h1>
<%= render "class_selection", report: Report::TRAINEES_DETAILS, klass_ids: @report.klass_ids %>
<%= @report.render_counts %>
<%= @report.download_button %>
<%= render 'shared_trainees_details.html.erb', report: @report %>
<%= render 'shared/export_table.js.erb' %>