<div id='main-navbar' class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" style = 'height: 30px;' href="#">
        <small>
          <%= current_user.account_name + (current_grant && " - #{current_grant.name}") %>
        </small>
      </a>

      <ul class="nav pull-right">
        <li class="light-blue dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Welcome, <%= current_user.first%>
            <b class="caret" style='border-top-color: white;'></b>
          </a>
          <ul id="user_menu" class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
            <%= profile_menu %>
            <%= change_password_menu %>
            <%= preferences_menu %>
            <%= divider_menu %>
            <%= sign_off_menu %>
          </ul>
        </li>
      </ul><!--/.nav-->

      <% if admin_signed_in? %>
        <ul class="nav pull-right">
          <li style="background-color: yellow;margin-top: 10px;padding:5px">
            <b><%= link_to("END OBSERVER SESSION", end_observe_admins_path) %></b>
          </li>
        </ul>
      <% end %>

    </div><!--/.container-fluid-->

    <div class="container-fluid" style ='background-color: #26294D'>
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <%= dashboard_menu  %>
          <%= users_menu      %>
          <%= settings_menu   %>
          <%= grants_menu     %>
          <%= programs_menu   %>
          <%= klasses_menu    %>
          <%= colleges_menu   %>
          <%= trainees_menu   %>
          <%= applicants_menu %>
          <%= employers_menu  %>
          <%= reports_menu    %>
          <%= jobs_menu       %>
        </ul><!--/.nav-->
      </div>
    </div>
  </div>
</div>
