<div class = 'row-fluid page-caption-div' >
  <h1>Events Calendar</h1>
</div>

<div class='row-fluid' style='margin-bottom:10px;'>
  <div class='span6'><strong>Class : <%= link_to @klass.to_label, @klass%></strong></div>
  <div class ='span2' style='padding-top:5px;text-align: center;background-color:#92D050'>Class Visits</div>
  <div class ='span2' style='padding-top:5px;text-align: center;background-color:#FFD966;margin-left:0px'>Site Visits</div>
  <div class ='span2' style='padding-top:5px;text-align: center;background-color:#ccf;margin-left:0px'>Others</div>
  <%= download_button %>
</div>

<% calendar = @klass.calendar %>
<% monday = calendar.first_monday %>
<% while monday <= calendar.last_monday %>
  <table class="table table-bordered" style='table-layout: fixed;margin-bottom:0px'>
    <thead>
      <tr style = 'background-color: #ddd'>
        <% next_day = monday %>
        <% (0..5).each do |i| %>
          <th style='text-align: center;color: black'><%= next_day.strftime("%A<br>%d-%b").html_safe %></th>
          <% next_day = next_day.tomorrow %>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% next_day = monday %>
      <% row_count = calendar.event_rows(next_day) %>
      <% (1..row_count).each do |row_no| %>
        <tr style = "height: 100px;">
          <% (0..5).each do |i| %>
            <% if event = calendar.get_event(next_day, row_no) %>
              <% event_type = calendar.visit_type(event) %>
              <% color = calendar.event_color(event) %>
              <td bgcolor= '<%=color%>'>
                <%= event.name%><br>
                <%= calendar.event_time(event) %><br>
                <%= event.notes %><br>
                <% if event_type > 0 %>
                  <% if employer = event.employers.first %>
                    <%= employer.name%><br>
                    <%= format_phone_no(employer.phone_no)%><br>
                    <%= employer.formatted_address %><br>
                  <% end %>
                <% end %>
              </td>
            <% else %>
              <td></td>
            <% end %>
            <% next_day = next_day.tomorrow %>
          <% end %>
        </tr>
        <% next_day = monday %>
      <% end %>
    </tbody>
  </table>
  <% monday = monday.next_week %>
<% end %>
